In [1]:
import pandas as pd

In [2]:
giddata = pd.read_excel("output/그리드 전처리 완료/final_negativeregresseion_result_0524.xlsx")
giddata

           gid  acci_cnt    lm_nb.step
0     다사584438       0.0  6.012637e-01
1     다사584438       0.0  6.012637e-01
2     다사583441       0.5  3.321304e-01
3     다사583441       0.5  3.321304e-01
4     다사583441       0.5  2.991557e-01
...        ...       ...           ...
1392  다사582444       0.0  1.100076e-08
1393  다사582444       0.0  1.100076e-08
1394  다사610455       0.0  6.595986e-10
1395  다사562453       0.0  3.934954e-11
1396  다사560450       0.0  2.220446e-16

[1397 rows x 3 columns]

In [4]:
giddata = giddata.drop_duplicates()

In [7]:
giddata = giddata.reset_index()

In [9]:
giddata = giddata[["gid","acci_cnt","lm_nb.step"]]
giddata

           gid  acci_cnt    lm_nb.step
0     다사584438       0.0  6.012637e-01
1     다사583441       0.5  3.321304e-01
2     다사583441       0.5  2.991557e-01
3     다사580448       0.0  2.365702e-01
4     다사591477       0.0  2.107040e-01
...        ...       ...           ...
1315  다사590404       0.0  8.291880e-07
1316  다사582444       0.0  1.100076e-08
1317  다사610455       0.0  6.595986e-10
1318  다사562453       0.0  3.934954e-11
1319  다사560450       0.0  2.220446e-16

[1320 rows x 3 columns]

In [12]:
giddata = giddata.drop_duplicates(['gid'], keep = 'first')

In [14]:
giddata = giddata.reset_index()

In [15]:
giddata = giddata[["gid","acci_cnt","lm_nb.step"]]
giddata

           gid  acci_cnt    lm_nb.step
0     다사584438       0.0  6.012637e-01
1     다사583441       0.5  3.321304e-01
2     다사580448       0.0  2.365702e-01
3     다사591477       0.0  2.107040e-01
4     다사590447       0.5  1.564948e-01
...        ...       ...           ...
1290  다사590404       0.0  8.291880e-07
1291  다사582444       0.0  1.100076e-08
1292  다사610455       0.0  6.595986e-10
1293  다사562453       0.0  3.934954e-11
1294  다사560450       0.0  2.220446e-16

[1295 rows x 3 columns]

In [18]:
giddata

           gid  acci_cnt    lm_nb.step
0     다사584438       0.0  6.012637e-01
1     다사583441       0.5  3.321304e-01
2     다사580448       0.0  2.365702e-01
3     다사591477       0.0  2.107040e-01
4     다사590447       0.5  1.564948e-01
...        ...       ...           ...
1290  다사590404       0.0  8.291880e-07
1291  다사582444       0.0  1.100076e-08
1292  다사610455       0.0  6.595986e-10
1293  다사562453       0.0  3.934954e-11
1294  다사560450       0.0  2.220446e-16

[1295 rows x 3 columns]

In [19]:
giddata.to_csv("output/그리드 전처리 완료/final3_negativeregresseion_result_0524.csv", encoding='utf-8-sig')