In [1]:
import pandas as pd
import numpy as np
import seaborn as sns


df = pd.read_excel("data/서울시 시설 데이터/서울지역 대학교 위치.xlsx")
df

        Unnamed: 0         위도          경도
0     KAIST 서울캠퍼스   37.592573  127.046737
1            KC대학교  37.548345  126.854797
2     가톨릭대학교(성신교정)  37.585922  127.004328
3     가톨릭대학교(성의교정)  37.499623  127.006065
4         감리교신학대학교  37.567645  126.961610
5            건국대학교  37.540762  127.079343
6     경기대학교 서울캠퍼스   37.300485  127.035833
7     경희대학교 서울캠퍼스   37.596195  127.052544
8            고려대학교  33.847782 -117.977748
9            광운대학교  37.619496  127.059696
10           국민대학교  37.609641  126.997697
11         덕성여자대학교  37.651199  127.016160
12           동국대학교  37.557477  127.002052
13         동덕여자대학교  37.606320  127.041808
14    명지대학교 서울캠퍼스   37.580205  126.923445
15           삼육대학교  37.642952  127.105476
16    상명대학교 서울캠퍼스   37.602638  126.955252
17           서강대학교  37.550944  126.941002
18           서경대학교  37.615095  127.013111
19       서울과학기술대학교  37.631668  127.077481
20         서울교육대학교  37.489961  127.016412
21         서울기독대학교  37.600923  126.912382
22           서울대학교  37.459882  126.951905
23         서울시립대학교  37.583866  127.058777
24         서울여자대학교  37.628113  127.090457
25         서울한영대학교  37.496541  126.851262
26          성공회대학교  37.487232  126.825320
27  성균관대학교 서울캠퍼스    37.588227  126.993606
28         성신여자대학교  37.591310  127.022131
29           세종대학교  37.550260  127.073139
30         숙명여자대학교  37.546364  126.964831
31           숭실대학교  37.496311  126.957460
32           연세대학교  37.565784  126.938572
33          육군사관학교  37.623819  127.098878
34         이화여자대학교  37.564308  126.950179
35        장로회신학대학교  37.550511  127.103458
36    중앙대학교 서울캠퍼스   37.505088  126.957101
37           총신대학교  37.488623  126.966817
38         추계예술대학교  37.562452  126.953417
39       한국방송통신대학교  37.578613  127.003291
40         한국성서대학교  37.648749  127.064320
41        한국예술종합학교  37.604997  127.056740
42        한국외국어대학교  37.597319  127.057843
43         한국체육대학교  37.519627  127.130984
44           한성대학교  37.581785  127.010369
45           한양대학교  37.557232  127.045322
46           홍익대학교  37.551464  126.925011

In [4]:
df = pd.read_csv("data/서울시 시설 데이터/서울시 대학 및 전문대학 DB 정보 (한국어).csv", encoding = 'ansi')
df = df[["학교명","주소"]]

In [5]:
df

          학교명                                     주소
0     서울시립대학교         서울 동대문구 서울시립대로 163 (전농동 90번지)
1   서울여자간호대학교                  서울 서대문구 홍제3동 서울여자간호대학
2     서울여자대학교              서울특별시 노원구 화랑로 621 서울여자대학교
3       서일대학교        서울 중랑구 서일대학길 22(면목동 49-3) 서일대학교
4      성공회대학교                       서울 구로구 항동 성공회대학교
..        ...                                    ...
59    서울교육대학교              서울 서초구 서초중앙로 96(서초동 1650)
60    서울기독대학교                    서울 은평구 갈현로 4길 26-2호
61      서울대학교                     서울 관악구 관악로 1 서울대학교
62   서울디지털대학교                       서울 마포구 도화동 560번지
63   서울사이버대학교  서울 강북구 솔매로49길 60(미아동 193-15) 서울사이버대학교

[64 rows x 2 columns]

In [14]:
univ_address = df['주소'].tolist()
univ_address

['서울 동대문구 서울시립대로 163 (전농동 90번지) ',
 '서울 서대문구 홍제3동 서울여자간호대학',
 '서울특별시 노원구 화랑로 621 서울여자대학교',
 '서울 중랑구 서일대학길 22(면목동 49-3) 서일대학교',
 '서울 구로구 항동 성공회대학교',
 '서울 종로구 명륜동3가 성균관대학교',
 '서울 성북구 동선동3가 성신여자대학교',
 '서울 광진구 군자동 세종대학교',
 '서울 용산구 청파로47길 100 숙명여자대학교',
 '서울 동작구 상도동 511 숭실대학교',
 '서울특별시 중구 소파로2길 10(예장동)',
 '서울 서대문구 신촌동 연세대학교',
 '서울 서대문구 대현동 11-1 이화여자대학교',
 '서울 노원구 초안산로 12',
 '서울 광진구 광장로 5길 25-1(광장동) 장로회신학대학교',
 '서울 종로구 경교장길8',
 '서울 동작구 흑석로 84',
 '서울 동작구 사당동 산31-3',
 '서울 서대문구 북아현동 190-1 추계예술대학교',
 '서울 종로구 동숭동 한국방송통신대학교',
 '서울 노원구 상계7동 한국성서대학교',
 '서울 성북구 석관동 ',
 '서울 동대문구 이문로 107',
 '서울 송파구 오륜동 한국체육대학교',
 '서울 강서구 화곡동 산60-1',
 '서울 용산구 보광로 73(보광동 238)',
 '서울 성북구 삼선동3가 389 한성대학교',
 '서울특별시 성동구 왕십리로 222 ',
 '서울 성동구 행당동 살곶이길 200',
 '서울 구로구 경인로 290-42  한영신학대학교',
 '서울특별시 마포구 와우산로 94(상수동)',
 '서울 서초구 반포동 505',
 '서울 종로구 창경궁로 296-12(혜화동) ',
 '서울 서대문구 냉천동 감리교신학대학',
 '서울 광진구 화양동',
 '서울 서대문구 경기대로9길 24 경기대학교',
 '서울 동대문구 회기동 경희대학교',
 '서울 성북구 안암동 고려대학교',
 '서울특별시 노원구 월계동 447-1',
 '서울 성북구 정릉3동 국민대학교',
 '서울 강남구 논현동 79',
 '서울 강서구 화곡6동 그리스도대학교',
 '서울특별시 도봉구 삼양로 144길 33',
 '서울 중구 필동3가 동국대학교',
 '서울 성북구 하월곡2동 동덕여자대학교',
 '서울시 구로구 경인로 445 동양미래대학교 (고척동 62-160)',
 '서울시 서대문구 통일로 37길 60 (홍제동 318-18)',
 '서울 서대문구 남가좌동 50-3',
 '서울 서대문구 가좌로 134 명지전문대학 ',
 '서울 종로구 필운대로 1길 34 배화여자대학교',
 '서울 서초구 방배로9길 23 백석예술대학교',
 '서울 동대문구 이문동 한국외국어대학교',
 '서울시 노원구 화랑로 815(공릉2동 26-21)',
 '서울 동대문구 휘경2동',
 '서울 종로구 홍지동 상명대학교',
 '서울 마포구 신수동 서강대학교',
 '서울 성북구 정릉4동 서경대학교',
 '서울 노원구 공릉로 232 (공릉동 172)',
 '서울시 노원구 공릉로 232 서울과학기술대학교',
 '서울 서초구 서초중앙로 96(서초동 1650)',
 '서울 은평구 갈현로 4길 26-2호',
 '서울 관악구 관악로 1 서울대학교',
 '서울 마포구 도화동 560번지',
 '서울 강북구 솔매로49길 60(미아동 193-15) 서울사이버대학교']

### geocoder 오류.

In [18]:
import googlemaps
import pandas as pd

my_key = "AIzaSyCraM-uquSnXifv311nUd1YtsIcwx6CgAY"
maps = googlemaps.Client(key=my_key)  # my key값 입력
lat = []  #위도
lng = []  #경도

# 위치를 찾을 장소나 주소를 넣어준다.
places = ['서울 동대문구 서울시립대로 163',
 '서울 서대문구 홍제3동 서울여자간호대학',
 '서울특별시 노원구 화랑로 621 서울여자대학교',
 '서울 중랑구 서일대학길 22 서일대학교',
 '서울 구로구 항동 성공회대학교',
 '서울 종로구 명륜동3가 성균관대학교',
 '서울 성북구 동선동3가 성신여자대학교',
 '서울 광진구 군자동 세종대학교',
 '서울 용산구 청파로47길 100 숙명여자대학교',
 '서울 동작구 상도동 511 숭실대학교',
 '서울특별시 중구 소파로2길 10',
 '서울 서대문구 신촌동 연세대학교',
 '서울 서대문구 대현동 11-1 이화여자대학교',
 '서울 노원구 초안산로 12',
 '서울 광진구 광장로 5길 25-1 장로회신학대학교',
 '서울 종로구 경교장길8',
 '서울 동작구 흑석로 84',
 '서울 동작구 사당동 산31-3',
 '서울 서대문구 북아현동 190-1 추계예술대학교',
 '서울 종로구 동숭동 한국방송통신대학교',
 '서울 노원구 상계7동 한국성서대학교',
 '서울 성북구 석관동 ',
 '서울 동대문구 이문로 107',
 '서울 송파구 오륜동 한국체육대학교',
 '서울 강서구 화곡동 산60-1',
 '서울 용산구 보광로 73',
 '서울 성북구 삼선동3가 389 한성대학교',
 '서울특별시 성동구 왕십리로 222 ',
 '서울 성동구 행당동 살곶이길 200',
 '서울 구로구 경인로 290-42  한영신학대학교',
 '서울특별시 마포구 와우산로 94',
 '서울 서초구 반포동 505',
 '서울 종로구 창경궁로 296-12',
 '서울 서대문구 냉천동 감리교신학대학',
 '서울 광진구 화양동',
 '서울 서대문구 경기대로9길 24 경기대학교',
 '서울 동대문구 회기동 경희대학교',
 '서울 성북구 안암동 고려대학교',
 '서울특별시 노원구 월계동 447-1',
 '서울 성북구 정릉3동 국민대학교',
 '서울 강남구 논현동 79',
 '서울 강서구 화곡6동 그리스도대학교',
 '서울특별시 도봉구 삼양로 144길 33',
 '서울 중구 필동3가 동국대학교',
 '서울 성북구 하월곡2동 동덕여자대학교',
 '서울시 구로구 경인로 445 동양미래대학교',
 '서울시 서대문구 통일로 37길 60',
 '서울 서대문구 남가좌동 50-3',
 '서울 서대문구 가좌로 134 명지전문대학 ',
 '서울 종로구 필운대로 1길 34 배화여자대학교',
 '서울 서초구 방배로9길 23 백석예술대학교',
 '서울 동대문구 이문동 한국외국어대학교',
 '서울시 노원구 화랑로 815',
 '서울 동대문구 휘경2동',
 '서울 종로구 홍지동 상명대학교',
 '서울 마포구 신수동 서강대학교',
 '서울 성북구 정릉4동 서경대학교',
 '서울 노원구 공릉로 232',
 '서울시 노원구 공릉로 232 서울과학기술대학교',
 '서울 서초구 서초중앙로 96',
 '서울 은평구 갈현로 4길 26-2호',
 '서울 관악구 관악로 1 서울대학교',
 '서울 마포구 도화동 560번지',
 '서울 강북구 솔매로49길 60 서울사이버대학교']

i=0
for place in places:   
    i = i + 1
    try:
        print("%d번 인덱스에서 %s의 위치를 찾고있습니다"%(i, place))
        geo_location = maps.geocode(place)[0].get('geometry')
        lat.append(geo_location['location']['lat'])
        lng.append(geo_location['location']['lng'])
        

    except:
        lat.append('')
        lng.append('')
        print("%d번 인덱스 위치를 찾는데 실패했습니다."%(i))


# 데이터프레임만들어 출력하기
df = pd.DataFrame({'위도':lat, '경도':lng}, index=places)
print(df)

1번 인덱스에서 서울 동대문구 서울시립대로 163의 위치를 찾고있습니다
1번 인덱스 위치를 찾는데 실패했습니다.
2번 인덱스에서 서울 서대문구 홍제3동 서울여자간호대학의 위치를 찾고있습니다
2번 인덱스 위치를 찾는데 실패했습니다.
3번 인덱스에서 서울특별시 노원구 화랑로 621 서울여자대학교의 위치를 찾고있습니다
3번 인덱스 위치를 찾는데 실패했습니다.
4번 인덱스에서 서울 중랑구 서일대학길 22 서일대학교의 위치를 찾고있습니다
4번 인덱스 위치를 찾는데 실패했습니다.
5번 인덱스에서 서울 구로구 항동 성공회대학교의 위치를 찾고있습니다
5번 인덱스 위치를 찾는데 실패했습니다.
6번 인덱스에서 서울 종로구 명륜동3가 성균관대학교의 위치를 찾고있습니다
6번 인덱스 위치를 찾는데 실패했습니다.
7번 인덱스에서 서울 성북구 동선동3가 성신여자대학교의 위치를 찾고있습니다
7번 인덱스 위치를 찾는데 실패했습니다.
8번 인덱스에서 서울 광진구 군자동 세종대학교의 위치를 찾고있습니다
8번 인덱스 위치를 찾는데 실패했습니다.
9번 인덱스에서 서울 용산구 청파로47길 100 숙명여자대학교의 위치를 찾고있습니다
9번 인덱스 위치를 찾는데 실패했습니다.
10번 인덱스에서 서울 동작구 상도동 511 숭실대학교의 위치를 찾고있습니다
10번 인덱스 위치를 찾는데 실패했습니다.
11번 인덱스에서 서울특별시 중구 소파로2길 10의 위치를 찾고있습니다
11번 인덱스 위치를 찾는데 실패했습니다.
12번 인덱스에서 서울 서대문구 신촌동 연세대학교의 위치를 찾고있습니다
12번 인덱스 위치를 찾는데 실패했습니다.
13번 인덱스에서 서울 서대문구 대현동 11-1 이화여자대학교의 위치를 찾고있습니다
13번 인덱스 위치를 찾는데 실패했습니다.
14번 인덱스에서 서울 노원구 초안산로 12의 위치를 찾고있습니다
14번 인덱스 위치를 찾는데 실패했습니다.
15번 인덱스에서 서울 광진구 광장로 5길 25-1 장로회신학대학교의 위치를 찾고있습니다
15번 인덱스 위치를 찾는데 실패했습니다.
16번 인덱스에서 서울 종로구 경교장길8의 위치를 찾고있습니다
16번 인덱스 위치를 찾는데 실패했습니다.
17번 인덱스에서 서울 동작구 흑석로 84의 위치를 찾고있습니다
17번 인덱스 위치를 찾는데 실패했습니다.
18번 인덱스에서 서울 동작구 사당동 산31-3의 위치를 찾고있습니다
18번 인덱스 위치를 찾는데 실패했습니다.
19번 인덱스에서 서울 서대문구 북아현동 190-1 추계예술대학교의 위치를 찾고있습니다
19번 인덱스 위치를 찾는데 실패했습니다.
20번 인덱스에서 서울 종로구 동숭동 한국방송통신대학교의 위치를 찾고있습니다
20번 인덱스 위치를 찾는데 실패했습니다.
21번 인덱스에서 서울 노원구 상계7동 한국성서대학교의 위치를 찾고있습니다
21번 인덱스 위치를 찾는데 실패했습니다.
22번 인덱스에서 서울 성북구 석관동 의 위치를 찾고있습니다
22번 인덱스 위치를 찾는데 실패했습니다.
23번 인덱스에서 서울 동대문구 이문로 107의 위치를 찾고있습니다
23번 인덱스 위치를 찾는데 실패했습니다.
24번 인덱스에서 서울 송파구 오륜동 한국체육대학교의 위치를 찾고있습니다
24번 인덱스 위치를 찾는데 실패했습니다.
25번 인덱스에서 서울 강서구 화곡동 산60-1의 위치를 찾고있습니다
25번 인덱스 위치를 찾는데 실패했습니다.
26번 인덱스에서 서울 용산구 보광로 73의 위치를 찾고있습니다
26번 인덱스 위치를 찾는데 실패했습니다.
27번 인덱스에서 서울 성북구 삼선동3가 389 한성대학교의 위치를 찾고있습니다
27번 인덱스 위치를 찾는데 실패했습니다.
28번 인덱스에서 서울특별시 성동구 왕십리로 222 의 위치를 찾고있습니다
28번 인덱스 위치를 찾는데 실패했습니다.
29번 인덱스에서 서울 성동구 행당동 살곶이길 200의 위치를 찾고있습니다
29번 인덱스 위치를 찾는데 실패했습니다.
30번 인덱스에서 서울 구로구 경인로 290-42  한영신학대학교의 위치를 찾고있습니다
30번 인덱스 위치를 찾는데 실패했습니다.
31번 인덱스에서 서울특별시 마포구 와우산로 94의 위치를 찾고있습니다
31번 인덱스 위치를 찾는데 실패했습니다.
32번 인덱스에서 서울 서초구 반포동 505의 위치를 찾고있습니다
32번 인덱스 위치를 찾는데 실패했습니다.
33번 인덱스에서 서울 종로구 창경궁로 296-12의 위치를 찾고있습니다
33번 인덱스 위치를 찾는데 실패했습니다.
34번 인덱스에서 서울 서대문구 냉천동 감리교신학대학의 위치를 찾고있습니다
34번 인덱스 위치를 찾는데 실패했습니다.
35번 인덱스에서 서울 광진구 화양동의 위치를 찾고있습니다
35번 인덱스 위치를 찾는데 실패했습니다.
36번 인덱스에서 서울 서대문구 경기대로9길 24 경기대학교의 위치를 찾고있습니다
36번 인덱스 위치를 찾는데 실패했습니다.
37번 인덱스에서 서울 동대문구 회기동 경희대학교의 위치를 찾고있습니다
37번 인덱스 위치를 찾는데 실패했습니다.
38번 인덱스에서 서울 성북구 안암동 고려대학교의 위치를 찾고있습니다
38번 인덱스 위치를 찾는데 실패했습니다.
39번 인덱스에서 서울특별시 노원구 월계동 447-1의 위치를 찾고있습니다
39번 인덱스 위치를 찾는데 실패했습니다.
40번 인덱스에서 서울 성북구 정릉3동 국민대학교의 위치를 찾고있습니다
40번 인덱스 위치를 찾는데 실패했습니다.
41번 인덱스에서 서울 강남구 논현동 79의 위치를 찾고있습니다
41번 인덱스 위치를 찾는데 실패했습니다.
42번 인덱스에서 서울 강서구 화곡6동 그리스도대학교의 위치를 찾고있습니다
42번 인덱스 위치를 찾는데 실패했습니다.
43번 인덱스에서 서울특별시 도봉구 삼양로 144길 33의 위치를 찾고있습니다
43번 인덱스 위치를 찾는데 실패했습니다.
44번 인덱스에서 서울 중구 필동3가 동국대학교의 위치를 찾고있습니다
44번 인덱스 위치를 찾는데 실패했습니다.
45번 인덱스에서 서울 성북구 하월곡2동 동덕여자대학교의 위치를 찾고있습니다
45번 인덱스 위치를 찾는데 실패했습니다.
46번 인덱스에서 서울시 구로구 경인로 445 동양미래대학교의 위치를 찾고있습니다
46번 인덱스 위치를 찾는데 실패했습니다.
47번 인덱스에서 서울시 서대문구 통일로 37길 60의 위치를 찾고있습니다
47번 인덱스 위치를 찾는데 실패했습니다.
48번 인덱스에서 서울 서대문구 남가좌동 50-3의 위치를 찾고있습니다
48번 인덱스 위치를 찾는데 실패했습니다.
49번 인덱스에서 서울 서대문구 가좌로 134 명지전문대학 의 위치를 찾고있습니다
49번 인덱스 위치를 찾는데 실패했습니다.
50번 인덱스에서 서울 종로구 필운대로 1길 34 배화여자대학교의 위치를 찾고있습니다
50번 인덱스 위치를 찾는데 실패했습니다.
51번 인덱스에서 서울 서초구 방배로9길 23 백석예술대학교의 위치를 찾고있습니다
51번 인덱스 위치를 찾는데 실패했습니다.
52번 인덱스에서 서울 동대문구 이문동 한국외국어대학교의 위치를 찾고있습니다
52번 인덱스 위치를 찾는데 실패했습니다.
53번 인덱스에서 서울시 노원구 화랑로 815의 위치를 찾고있습니다
53번 인덱스 위치를 찾는데 실패했습니다.
54번 인덱스에서 서울 동대문구 휘경2동의 위치를 찾고있습니다
54번 인덱스 위치를 찾는데 실패했습니다.
55번 인덱스에서 서울 종로구 홍지동 상명대학교의 위치를 찾고있습니다
55번 인덱스 위치를 찾는데 실패했습니다.
56번 인덱스에서 서울 마포구 신수동 서강대학교의 위치를 찾고있습니다
56번 인덱스 위치를 찾는데 실패했습니다.
57번 인덱스에서 서울 성북구 정릉4동 서경대학교의 위치를 찾고있습니다
57번 인덱스 위치를 찾는데 실패했습니다.
58번 인덱스에서 서울 노원구 공릉로 232의 위치를 찾고있습니다
58번 인덱스 위치를 찾는데 실패했습니다.
59번 인덱스에서 서울시 노원구 공릉로 232 서울과학기술대학교의 위치를 찾고있습니다
59번 인덱스 위치를 찾는데 실패했습니다.
60번 인덱스에서 서울 서초구 서초중앙로 96의 위치를 찾고있습니다
60번 인덱스 위치를 찾는데 실패했습니다.
61번 인덱스에서 서울 은평구 갈현로 4길 26-2호의 위치를 찾고있습니다
61번 인덱스 위치를 찾는데 실패했습니다.
62번 인덱스에서 서울 관악구 관악로 1 서울대학교의 위치를 찾고있습니다
62번 인덱스 위치를 찾는데 실패했습니다.
63번 인덱스에서 서울 마포구 도화동 560번지의 위치를 찾고있습니다
63번 인덱스 위치를 찾는데 실패했습니다.
64번 인덱스에서 서울 강북구 솔매로49길 60 서울사이버대학교의 위치를 찾고있습니다
64번 인덱스 위치를 찾는데 실패했습니다.
                          위도 경도
서울 동대문구 서울시립대로 163
서울 서대문구 홍제3동 서울여자간호대학
서울특별시 노원구 화랑로 621 서울여자대학교
서울 중랑구 서일대학길 22 서일대학교
서울 구로구 항동 성공회대학교
...                       .. ..
서울 서초구 서초중앙로 96
서울 은평구 갈현로 4길 26-2호
서울 관악구 관악로 1 서울대학교
서울 마포구 도화동 560번지
서울 강북구 솔매로49길 60 서울사이버대학교

[64 rows x 2 columns]