In [2]:
import folium
import json
import pandas as pd
import numpy as np
import geopandas as gpd
import fiona
import os
import seaborn as sns
import matplotlib.pyplot as plt
from shapely.geometry import Polygon, LineString, Point
from tqdm import tqdm

In [3]:
data = gpd.read_file('data/서울시 격자 인구 데이터/강남서초2030대인구수 - 복사본.geojson')
data

,gid,2030val,layer,geometry
0,다사579454,77.0,"강남구 20,30대 인구수","MULTIPOLYGON (((127.02366 37.50691, 127.02365 ..."
1,다사613448,66.0,"강남구 20,30대 인구수","MULTIPOLYGON (((127.06216 37.50166, 127.06215 ..."
2,다사585452,0.0,"강남구 20,30대 인구수","MULTIPOLYGON (((127.03046 37.50514, 127.03045 ..."
3,다사583456,227.0,"강남구 20,30대 인구수","MULTIPOLYGON (((127.02817 37.50874, 127.02817 ..."
4,다사592432,85.0,"강남구 20,30대 인구수","MULTIPOLYGON (((127.03849 37.48714, 127.03848 ..."
...,...,...,...,...
9128,다사559438,NaN,"서초구 20,30대 인구수","MULTIPOLYGON (((127.00113 37.49240, 127.00112 ..."
9129,다사618387,NaN,"서초구 20,30대 인구수","MULTIPOLYGON (((127.06813 37.44669, 127.06813 ..."
9130,다사559464,NaN,"서초구 20,30대 인구수","MULTIPOLYGON (((127.00097 37.51583, 127.00097 ..."
9131,다사585417,NaN,"서초구 20,30대 인구수","MULTIPOLYGON (((127.03066 37.47359, 127.03065 ..."
9132,다사548430,NaN,"서초구 20,30대 인구수","MULTIPOLYGON (((126.98873 37.48514, 126.98873 ..."

In [4]:
data_gid = data[['gid', 'geometry']]

In [5]:
data_gid

           gid                                           geometry
0     다사579454  MULTIPOLYGON (((127.02366 37.50691, 127.02365 ...
1     다사613448  MULTIPOLYGON (((127.06216 37.50166, 127.06215 ...
2     다사585452  MULTIPOLYGON (((127.03046 37.50514, 127.03045 ...
3     다사583456  MULTIPOLYGON (((127.02817 37.50874, 127.02817 ...
4     다사592432  MULTIPOLYGON (((127.03849 37.48714, 127.03848 ...
...        ...                                                ...
9128  다사559438  MULTIPOLYGON (((127.00113 37.49240, 127.00112 ...
9129  다사618387  MULTIPOLYGON (((127.06813 37.44669, 127.06813 ...
9130  다사559464  MULTIPOLYGON (((127.00097 37.51583, 127.00097 ...
9131  다사585417  MULTIPOLYGON (((127.03066 37.47359, 127.03065 ...
9132  다사548430  MULTIPOLYGON (((126.98873 37.48514, 126.98873 ...

[9133 rows x 2 columns]

## 강남구서초구정류장아침승차

In [ ]:
data1 = pd.read_csv("output/강남구서초구정류장아침승차.csv")

In [11]:
data1 = data1[["표준ID","정류소명","X좌표","Y좌표","6시승차총승객수","7시승차총승객수","8시승차총승객수","9시승차총승객수"]]

In [13]:
data1["아침총승객수"] = data1["6시승차총승객수"] + data1["7시승차총승객수"]+ data1["8시승차총승객수"]+ data1["9시승차총승객수"]

In [15]:
data1 = data1[["표준ID","정류소명","X좌표","Y좌표","아침총승객수"]]
data1

           표준ID             정류소명         X좌표        Y좌표       아침총승객수
0     121000001          교육개발원입구  127.038342  37.478514   287.218487
1     121000002          교육개발원입구  127.038676  37.477767   768.227273
2     121000003     양재역.서초문화예술회관  127.035847  37.482522  1943.069444
3     121000004     양재역.서초문화예술회관  127.036825  37.481871   607.147436
4     121000005            뱅뱅사거리  127.032367  37.487592   562.768473
...         ...              ...         ...        ...          ...
1161  122900097      수서교회.수서동성당앞  127.094743  37.483491   123.500000
1162  122000286        삼성서울병원사거리  127.082862  37.488968   276.583333
1163  122900073     강남신동아파밀리에2단지  127.101538  37.464601    49.500000
1164  122000287   일원주유소.삼성서울병원후문  127.087681  37.490657  1946.032258
1165  122900074  리엔파크4단지.강남데시앙파크  127.101900  37.461227  1303.000000

[1166 rows x 5 columns]

In [16]:
data1['bus_cnt']=1
data1['X좌표'] = data1['X좌표'].astype(float)
data1['Y좌표'] = data1['Y좌표'].astype(float)
data1['point'] = data1.apply(lambda row : Point([row['X좌표'], row['Y좌표']]), axis=1)
data1 = gpd.GeoDataFrame(data1, geometry='point')

<ipython-input-16-7a876ba4cc27>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['bus_cnt']=1
<ipython-input-16-7a876ba4cc27>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['X좌표'] = data1['X좌표'].astype(float)
<ipython-input-16-7a876ba4cc27>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['Y좌표'] = data1['Y좌표'].astype(float)
<ipython-input-16-7a876ba4cc27>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['point'] = data1.apply(lambda row : Point([row['X좌표'], row['Y좌표']]), axis=1)

In [17]:
data1

,표준ID,정류소명,X좌표,Y좌표,아침총승객수,bus_cnt,point
0,121000001,교육개발원입구,127.038342,37.478514,287.218487,1,POINT (127.03834 37.47851)
1,121000002,교육개발원입구,127.038676,37.477767,768.227273,1,POINT (127.03868 37.47777)
2,121000003,양재역.서초문화예술회관,127.035847,37.482522,1943.069444,1,POINT (127.03585 37.48252)
3,121000004,양재역.서초문화예술회관,127.036825,37.481871,607.147436,1,POINT (127.03683 37.48187)
4,121000005,뱅뱅사거리,127.032367,37.487592,562.768473,1,POINT (127.03237 37.48759)
...,...,...,...,...,...,...,...
1161,122900097,수서교회.수서동성당앞,127.094743,37.483491,123.500000,1,POINT (127.09474 37.48349)
1162,122000286,삼성서울병원사거리,127.082862,37.488968,276.583333,1,POINT (127.08286 37.48897)
1163,122900073,강남신동아파밀리에2단지,127.101538,37.464601,49.500000,1,POINT (127.10154 37.46460)
1164,122000287,일원주유소.삼성서울병원후문,127.087681,37.490657,1946.032258,1,POINT (127.08768 37.49066)
1165,122900074,리엔파크4단지.강남데시앙파크,127.101900,37.461227,1303.000000,1,POINT (127.10190 37.46123)

In [18]:
gid_list = []
for i in tqdm(range(data1.shape[0])):
    point = data1['point'].iloc[i]
    if data_gid['geometry'].contains(point).sum() == 0:
        g1 = "Na"
    else :
        g = data_gid['gid'].loc[data_gid['geometry'].contains(point)]
        g1 = g.iloc[0]
    gid_list.append(g1)

100%|████████████████████████████████████████| 1166/1166 [01:46<00:00, 10.95it/s]

In [19]:
data1['gid'] = gid_list
data1['TL_cnt']=1
data1

,표준ID,정류소명,X좌표,Y좌표,아침총승객수,bus_cnt,point,gid,TL_cnt
0,121000001,교육개발원입구,127.038342,37.478514,287.218487,1,POINT (127.03834 37.47851),다사591422,1
1,121000002,교육개발원입구,127.038676,37.477767,768.227273,1,POINT (127.03868 37.47777),다사592421,1
2,121000003,양재역.서초문화예술회관,127.035847,37.482522,1943.069444,1,POINT (127.03585 37.48252),다사589426,1
3,121000004,양재역.서초문화예술회관,127.036825,37.481871,607.147436,1,POINT (127.03683 37.48187),다사590426,1
4,121000005,뱅뱅사거리,127.032367,37.487592,562.768473,1,POINT (127.03237 37.48759),다사586432,1
...,...,...,...,...,...,...,...,...,...
1161,122900097,수서교회.수서동성당앞,127.094743,37.483491,123.500000,1,POINT (127.09474 37.48349),다사641427,1
1162,122000286,삼성서울병원사거리,127.082862,37.488968,276.583333,1,POINT (127.08286 37.48897),다사631433,1
1163,122900073,강남신동아파밀리에2단지,127.101538,37.464601,49.500000,1,POINT (127.10154 37.46460),다사647406,1
1164,122000287,일원주유소.삼성서울병원후문,127.087681,37.490657,1946.032258,1,POINT (127.08768 37.49066),다사635435,1
1165,122900074,리엔파크4단지.강남데시앙파크,127.101900,37.461227,1303.000000,1,POINT (127.10190 37.46123),다사647402,1

In [20]:
data1 = data1[["gid","아침총승객수"]]
data1

           gid       아침총승객수
0     다사591422   287.218487
1     다사592421   768.227273
2     다사589426  1943.069444
3     다사590426   607.147436
4     다사586432   562.768473
...        ...          ...
1161  다사641427   123.500000
1162  다사631433   276.583333
1163  다사647406    49.500000
1164  다사635435  1946.032258
1165  다사647402  1303.000000

[1166 rows x 2 columns]

In [21]:
result1 = data1[['아침총승객수', 'gid']].groupby(['gid']).sum()

In [26]:
result1.reset_index(inplace=True)

In [28]:
result1 = result1.drop(index=0, axis=0)

In [29]:
result1

          gid       아침총승객수
1    다사540452    95.915000
2    다사541419  2123.280992
3    다사541421   933.513889
4    다사541423   957.306122
5    다사542418   200.000000
..        ...          ...
774  다사655420  1901.504267
775  다사658421  1662.390390
776  다사660408    25.277778
777  다사662409    47.888889
778  다사664410   234.888889

[778 rows x 2 columns]

In [33]:
result1.to_csv("output/그리드 전처리 완료/서초강남버스아침승차.csv")

## 강남구서초구정류장아침하차

In [37]:
data1 = pd.read_csv("output/강남구서초구정류장아침하차.csv")

In [38]:
data1

,ARS-ID,표준ID,정류소명,X좌표,Y좌표,7시하차총승객수,8시하차총승객수,9시하차총승객수,10시하차총승객수
0,22001,121000001,교육개발원입구,127.038342,37.478514,143.907563,422.840336,237.655462,90.336134
1,22002,121000002,교육개발원입구,127.038676,37.477767,183.606061,313.151515,201.439394,120.431818
2,22003,121000003,양재역.서초문화예술회관,127.035847,37.482522,166.201389,267.368056,171.500000,101.805556
3,22004,121000004,양재역.서초문화예술회관,127.036825,37.481871,264.807692,370.653846,253.243590,191.730769
4,22005,121000005,뱅뱅사거리,127.032367,37.487592,168.369458,251.847291,159.315271,117.536946
...,...,...,...,...,...,...,...,...,...
1161,23972,122900097,수서교회.수서동성당앞,127.094743,37.483491,87.333333,63.583333,55.583333,48.583333
1162,23981,122000286,삼성서울병원사거리,127.082862,37.488968,226.000000,141.916667,137.916667,112.333333
1163,23993,122900073,강남신동아파밀리에2단지,127.101538,37.464601,29.958333,70.666667,40.416667,48.916667
1164,23994,122000287,일원주유소.삼성서울병원후문,127.087681,37.490657,530.580645,402.709677,346.483871,290.806452
1165,23995,122900074,리엔파크4단지.강남데시앙파크,127.101900,37.461227,34.395833,48.395833,39.708333,50.604167

In [39]:
data1 = data1[["표준ID","정류소명","X좌표","Y좌표","7시하차총승객수","8시하차총승객수","9시하차총승객수","10시하차총승객수"]]

In [40]:
data1["아침총승객수"] = data1["7시하차총승객수"] + data1["8시하차총승객수"]+ data1["9시하차총승객수"]+ data1["10시하차총승객수"]

In [41]:
data1 = data1[["표준ID","정류소명","X좌표","Y좌표","아침총승객수"]]
data1

           표준ID             정류소명         X좌표        Y좌표       아침총승객수
0     121000001          교육개발원입구  127.038342  37.478514   894.739496
1     121000002          교육개발원입구  127.038676  37.477767   818.628788
2     121000003     양재역.서초문화예술회관  127.035847  37.482522   706.875000
3     121000004     양재역.서초문화예술회관  127.036825  37.481871  1080.435897
4     121000005            뱅뱅사거리  127.032367  37.487592   697.068966
...         ...              ...         ...        ...          ...
1161  122900097      수서교회.수서동성당앞  127.094743  37.483491   255.083333
1162  122000286        삼성서울병원사거리  127.082862  37.488968   618.166667
1163  122900073     강남신동아파밀리에2단지  127.101538  37.464601   189.958333
1164  122000287   일원주유소.삼성서울병원후문  127.087681  37.490657  1570.580645
1165  122900074  리엔파크4단지.강남데시앙파크  127.101900  37.461227   173.104167

[1166 rows x 5 columns]

In [42]:
data1['bus_cnt']=1
data1['X좌표'] = data1['X좌표'].astype(float)
data1['Y좌표'] = data1['Y좌표'].astype(float)
data1['point'] = data1.apply(lambda row : Point([row['X좌표'], row['Y좌표']]), axis=1)
data1 = gpd.GeoDataFrame(data1, geometry='point')

In [43]:
data1

,표준ID,정류소명,X좌표,Y좌표,아침총승객수,bus_cnt,point
0,121000001,교육개발원입구,127.038342,37.478514,894.739496,1,POINT (127.03834 37.47851)
1,121000002,교육개발원입구,127.038676,37.477767,818.628788,1,POINT (127.03868 37.47777)
2,121000003,양재역.서초문화예술회관,127.035847,37.482522,706.875000,1,POINT (127.03585 37.48252)
3,121000004,양재역.서초문화예술회관,127.036825,37.481871,1080.435897,1,POINT (127.03683 37.48187)
4,121000005,뱅뱅사거리,127.032367,37.487592,697.068966,1,POINT (127.03237 37.48759)
...,...,...,...,...,...,...,...
1161,122900097,수서교회.수서동성당앞,127.094743,37.483491,255.083333,1,POINT (127.09474 37.48349)
1162,122000286,삼성서울병원사거리,127.082862,37.488968,618.166667,1,POINT (127.08286 37.48897)
1163,122900073,강남신동아파밀리에2단지,127.101538,37.464601,189.958333,1,POINT (127.10154 37.46460)
1164,122000287,일원주유소.삼성서울병원후문,127.087681,37.490657,1570.580645,1,POINT (127.08768 37.49066)
1165,122900074,리엔파크4단지.강남데시앙파크,127.101900,37.461227,173.104167,1,POINT (127.10190 37.46123)

In [44]:
gid_list = []
for i in tqdm(range(data1.shape[0])):
    point = data1['point'].iloc[i]
    if data_gid['geometry'].contains(point).sum() == 0:
        g1 = "Na"
    else :
        g = data_gid['gid'].loc[data_gid['geometry'].contains(point)]
        g1 = g.iloc[0]
    gid_list.append(g1)

100%|████████████████████████████████████████| 1166/1166 [02:01<00:00,  9.62it/s]

In [45]:
data1['gid'] = gid_list
data1['TL_cnt']=1
data1

,표준ID,정류소명,X좌표,Y좌표,아침총승객수,bus_cnt,point,gid,TL_cnt
0,121000001,교육개발원입구,127.038342,37.478514,894.739496,1,POINT (127.03834 37.47851),다사591422,1
1,121000002,교육개발원입구,127.038676,37.477767,818.628788,1,POINT (127.03868 37.47777),다사592421,1
2,121000003,양재역.서초문화예술회관,127.035847,37.482522,706.875000,1,POINT (127.03585 37.48252),다사589426,1
3,121000004,양재역.서초문화예술회관,127.036825,37.481871,1080.435897,1,POINT (127.03683 37.48187),다사590426,1
4,121000005,뱅뱅사거리,127.032367,37.487592,697.068966,1,POINT (127.03237 37.48759),다사586432,1
...,...,...,...,...,...,...,...,...,...
1161,122900097,수서교회.수서동성당앞,127.094743,37.483491,255.083333,1,POINT (127.09474 37.48349),다사641427,1
1162,122000286,삼성서울병원사거리,127.082862,37.488968,618.166667,1,POINT (127.08286 37.48897),다사631433,1
1163,122900073,강남신동아파밀리에2단지,127.101538,37.464601,189.958333,1,POINT (127.10154 37.46460),다사647406,1
1164,122000287,일원주유소.삼성서울병원후문,127.087681,37.490657,1570.580645,1,POINT (127.08768 37.49066),다사635435,1
1165,122900074,리엔파크4단지.강남데시앙파크,127.101900,37.461227,173.104167,1,POINT (127.10190 37.46123),다사647402,1

In [46]:
data1 = data1[["gid","아침총승객수"]]
data1

           gid       아침총승객수
0     다사591422   894.739496
1     다사592421   818.628788
2     다사589426   706.875000
3     다사590426  1080.435897
4     다사586432   697.068966
...        ...          ...
1161  다사641427   255.083333
1162  다사631433   618.166667
1163  다사647406   189.958333
1164  다사635435  1570.580645
1165  다사647402   173.104167

[1166 rows x 2 columns]

In [47]:
result1 = data1[['아침총승객수', 'gid']].groupby(['gid']).sum()

In [48]:
result1.reset_index(inplace=True)

In [51]:
result1

          gid       아침총승객수
1    다사540452   290.648333
2    다사541419  1642.181818
3    다사541421  4109.416667
4    다사541423  1936.224490
5    다사542418  2066.666667
..        ...          ...
774  다사655420   438.883357
775  다사658421   495.613363
776  다사660408   138.805556
777  다사662409   171.111111
778  다사664410   547.638889

[778 rows x 2 columns]

In [50]:
result1 = result1.drop(index=0, axis=0)

In [52]:
result1.to_csv("output/그리드 전처리 완료/서초강남버스아침하차.csv")

## 강남구서초구정류장저녁승차

In [53]:
data1 = pd.read_csv("output/강남구서초구정류장저녁승차.csv")

In [54]:
data1

,ARS-ID,표준ID,정류소명,X좌표,Y좌표,17시승차총승객수,18시승차총승객수,19시승차총승객수,20시승차총승객수
0,22001,121000001,교육개발원입구,127.038342,37.478514,157.025210,203.605042,112.638655,95.067227
1,22002,121000002,교육개발원입구,127.038676,37.477767,409.878788,659.681818,270.151515,166.909091
2,22003,121000003,양재역.서초문화예술회관,127.035847,37.482522,330.729167,466.736111,386.590278,309.013889
3,22004,121000004,양재역.서초문화예술회관,127.036825,37.481871,271.461538,333.762821,215.237179,166.044872
4,22005,121000005,뱅뱅사거리,127.032367,37.487592,163.512315,203.635468,134.817734,112.167488
...,...,...,...,...,...,...,...,...,...
1161,23972,122900097,수서교회.수서동성당앞,127.094743,37.483491,62.666667,55.416667,15.500000,17.166667
1162,23981,122000286,삼성서울병원사거리,127.082862,37.488968,307.250000,151.916667,92.500000,71.416667
1163,23993,122900073,강남신동아파밀리에2단지,127.101538,37.464601,16.833333,20.041667,20.291667,19.791667
1164,23994,122000287,일원주유소.삼성서울병원후문,127.087681,37.490657,511.419355,324.870968,190.741935,155.516129
1165,23995,122900074,리엔파크4단지.강남데시앙파크,127.101900,37.461227,210.250000,165.458333,61.583333,31.541667

In [55]:
data1 = data1[["표준ID","정류소명","X좌표","Y좌표","17시승차총승객수","18시승차총승객수","19시승차총승객수","20시승차총승객수"]]

In [56]:
data1["저녁총승객수"] = data1["17시승차총승객수"] + data1["18시승차총승객수"]+ data1["19시승차총승객수"]+ data1["20시승차총승객수"]

In [57]:
data1

,표준ID,정류소명,X좌표,Y좌표,17시승차총승객수,18시승차총승객수,19시승차총승객수,20시승차총승객수,저녁총승객수
0,121000001,교육개발원입구,127.038342,37.478514,157.025210,203.605042,112.638655,95.067227,568.336134
1,121000002,교육개발원입구,127.038676,37.477767,409.878788,659.681818,270.151515,166.909091,1506.621212
2,121000003,양재역.서초문화예술회관,127.035847,37.482522,330.729167,466.736111,386.590278,309.013889,1493.069444
3,121000004,양재역.서초문화예술회관,127.036825,37.481871,271.461538,333.762821,215.237179,166.044872,986.506410
4,121000005,뱅뱅사거리,127.032367,37.487592,163.512315,203.635468,134.817734,112.167488,614.133005
...,...,...,...,...,...,...,...,...,...
1161,122900097,수서교회.수서동성당앞,127.094743,37.483491,62.666667,55.416667,15.500000,17.166667,150.750000
1162,122000286,삼성서울병원사거리,127.082862,37.488968,307.250000,151.916667,92.500000,71.416667,623.083333
1163,122900073,강남신동아파밀리에2단지,127.101538,37.464601,16.833333,20.041667,20.291667,19.791667,76.958333
1164,122000287,일원주유소.삼성서울병원후문,127.087681,37.490657,511.419355,324.870968,190.741935,155.516129,1182.548387
1165,122900074,리엔파크4단지.강남데시앙파크,127.101900,37.461227,210.250000,165.458333,61.583333,31.541667,468.833333

In [58]:
data1 = data1[["표준ID","정류소명","X좌표","Y좌표","저녁총승객수"]]
data1

           표준ID             정류소명         X좌표        Y좌표       저녁총승객수
0     121000001          교육개발원입구  127.038342  37.478514   568.336134
1     121000002          교육개발원입구  127.038676  37.477767  1506.621212
2     121000003     양재역.서초문화예술회관  127.035847  37.482522  1493.069444
3     121000004     양재역.서초문화예술회관  127.036825  37.481871   986.506410
4     121000005            뱅뱅사거리  127.032367  37.487592   614.133005
...         ...              ...         ...        ...          ...
1161  122900097      수서교회.수서동성당앞  127.094743  37.483491   150.750000
1162  122000286        삼성서울병원사거리  127.082862  37.488968   623.083333
1163  122900073     강남신동아파밀리에2단지  127.101538  37.464601    76.958333
1164  122000287   일원주유소.삼성서울병원후문  127.087681  37.490657  1182.548387
1165  122900074  리엔파크4단지.강남데시앙파크  127.101900  37.461227   468.833333

[1166 rows x 5 columns]

In [59]:
data1['bus_cnt']=1
data1['X좌표'] = data1['X좌표'].astype(float)
data1['Y좌표'] = data1['Y좌표'].astype(float)
data1['point'] = data1.apply(lambda row : Point([row['X좌표'], row['Y좌표']]), axis=1)
data1 = gpd.GeoDataFrame(data1, geometry='point')

<ipython-input-59-7a876ba4cc27>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['bus_cnt']=1
<ipython-input-59-7a876ba4cc27>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['X좌표'] = data1['X좌표'].astype(float)
<ipython-input-59-7a876ba4cc27>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['Y좌표'] = data1['Y좌표'].astype(float)
<ipython-input-59-7a876ba4cc27>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['point'] = data1.apply(lambda row : Point([row['X좌표'], row['Y좌표']]), axis=1)

In [60]:
data1

,표준ID,정류소명,X좌표,Y좌표,저녁총승객수,bus_cnt,point
0,121000001,교육개발원입구,127.038342,37.478514,568.336134,1,POINT (127.03834 37.47851)
1,121000002,교육개발원입구,127.038676,37.477767,1506.621212,1,POINT (127.03868 37.47777)
2,121000003,양재역.서초문화예술회관,127.035847,37.482522,1493.069444,1,POINT (127.03585 37.48252)
3,121000004,양재역.서초문화예술회관,127.036825,37.481871,986.506410,1,POINT (127.03683 37.48187)
4,121000005,뱅뱅사거리,127.032367,37.487592,614.133005,1,POINT (127.03237 37.48759)
...,...,...,...,...,...,...,...
1161,122900097,수서교회.수서동성당앞,127.094743,37.483491,150.750000,1,POINT (127.09474 37.48349)
1162,122000286,삼성서울병원사거리,127.082862,37.488968,623.083333,1,POINT (127.08286 37.48897)
1163,122900073,강남신동아파밀리에2단지,127.101538,37.464601,76.958333,1,POINT (127.10154 37.46460)
1164,122000287,일원주유소.삼성서울병원후문,127.087681,37.490657,1182.548387,1,POINT (127.08768 37.49066)
1165,122900074,리엔파크4단지.강남데시앙파크,127.101900,37.461227,468.833333,1,POINT (127.10190 37.46123)

In [61]:
gid_list = []
for i in tqdm(range(data1.shape[0])):
    point = data1['point'].iloc[i]
    if data_gid['geometry'].contains(point).sum() == 0:
        g1 = "Na"
    else :
        g = data_gid['gid'].loc[data_gid['geometry'].contains(point)]
        g1 = g.iloc[0]
    gid_list.append(g1)

100%|████████████████████████████████████████| 1166/1166 [02:02<00:00,  9.54it/s]

In [62]:
data1['gid'] = gid_list
data1['TL_cnt']=1
data1

,표준ID,정류소명,X좌표,Y좌표,저녁총승객수,bus_cnt,point,gid,TL_cnt
0,121000001,교육개발원입구,127.038342,37.478514,568.336134,1,POINT (127.03834 37.47851),다사591422,1
1,121000002,교육개발원입구,127.038676,37.477767,1506.621212,1,POINT (127.03868 37.47777),다사592421,1
2,121000003,양재역.서초문화예술회관,127.035847,37.482522,1493.069444,1,POINT (127.03585 37.48252),다사589426,1
3,121000004,양재역.서초문화예술회관,127.036825,37.481871,986.506410,1,POINT (127.03683 37.48187),다사590426,1
4,121000005,뱅뱅사거리,127.032367,37.487592,614.133005,1,POINT (127.03237 37.48759),다사586432,1
...,...,...,...,...,...,...,...,...,...
1161,122900097,수서교회.수서동성당앞,127.094743,37.483491,150.750000,1,POINT (127.09474 37.48349),다사641427,1
1162,122000286,삼성서울병원사거리,127.082862,37.488968,623.083333,1,POINT (127.08286 37.48897),다사631433,1
1163,122900073,강남신동아파밀리에2단지,127.101538,37.464601,76.958333,1,POINT (127.10154 37.46460),다사647406,1
1164,122000287,일원주유소.삼성서울병원후문,127.087681,37.490657,1182.548387,1,POINT (127.08768 37.49066),다사635435,1
1165,122900074,리엔파크4단지.강남데시앙파크,127.101900,37.461227,468.833333,1,POINT (127.10190 37.46123),다사647402,1

In [63]:
data1 = data1[["gid","저녁총승객수"]]
data1

           gid       저녁총승객수
0     다사591422   568.336134
1     다사592421  1506.621212
2     다사589426  1493.069444
3     다사590426   986.506410
4     다사586432   614.133005
...        ...          ...
1161  다사641427   150.750000
1162  다사631433   623.083333
1163  다사647406    76.958333
1164  다사635435  1182.548387
1165  다사647402   468.833333

[1166 rows x 2 columns]

In [64]:
result1 = data1[['저녁총승객수', 'gid']].groupby(['gid']).sum()

In [65]:
result1.reset_index(inplace=True)

In [66]:
result1

          gid       저녁총승객수
0          Na   514.958333
1    다사540452   530.146667
2    다사541419  1891.380165
3    다사541421  3695.930556
4    다사541423  1792.285714
..        ...          ...
774  다사655420   678.780228
775  다사658421   635.659910
776  다사660408    74.444444
777  다사662409   145.805556
778  다사664410   629.305556

[779 rows x 2 columns]

In [67]:
result1 = result1.drop(index=0, axis=0)

In [69]:
result1

          gid       저녁총승객수
1    다사540452   530.146667
2    다사541419  1891.380165
3    다사541421  3695.930556
4    다사541423  1792.285714
5    다사542418   125.583333
..        ...          ...
774  다사655420   678.780228
775  다사658421   635.659910
776  다사660408    74.444444
777  다사662409   145.805556
778  다사664410   629.305556

[778 rows x 2 columns]

In [70]:
result1.to_csv("output/그리드 전처리 완료/서초강남버스저녁승차.csv")

## 강남구서초구정류장저녁하차

In [71]:
data1 = pd.read_csv("output/강남구서초구정류장저녁하차.csv")

In [72]:
data1

,ARS-ID,표준ID,정류소명,X좌표,Y좌표,18시하차총승객수,19시하차총승객수,20시하차총승객수,21시하차총승객수
0,22001,121000001,교육개발원입구,127.038342,37.478514,155.462185,140.571429,99.974790,98.445378
1,22002,121000002,교육개발원입구,127.038676,37.477767,358.469697,173.606061,98.053030,80.636364
2,22003,121000003,양재역.서초문화예술회관,127.035847,37.482522,229.638889,190.777778,147.277778,138.680556
3,22004,121000004,양재역.서초문화예술회관,127.036825,37.481871,1097.993590,453.198718,236.583333,194.467949
4,22005,121000005,뱅뱅사거리,127.032367,37.487592,245.325123,186.187192,140.990148,126.561576
...,...,...,...,...,...,...,...,...,...
1161,23972,122900097,수서교회.수서동성당앞,127.094743,37.483491,32.166667,15.166667,13.083333,13.000000
1162,23981,122000286,삼성서울병원사거리,127.082862,37.488968,229.083333,186.916667,161.333333,165.333333
1163,23993,122900073,강남신동아파밀리에2단지,127.101538,37.464601,210.500000,221.583333,120.541667,106.708333
1164,23994,122000287,일원주유소.삼성서울병원후문,127.087681,37.490657,483.064516,390.516129,266.258065,280.838710
1165,23995,122900074,리엔파크4단지.강남데시앙파크,127.101900,37.461227,219.208333,250.854167,163.000000,152.395833

In [75]:
data1 = data1[["표준ID","정류소명","X좌표","Y좌표","18시하차총승객수","19시하차총승객수","20시하차총승객수","21시하차총승객수"]]

In [76]:
data1["저녁총승객수"] = data1["18시하차총승객수"] + data1["19시하차총승객수"]+ data1["20시하차총승객수"]+ data1["21시하차총승객수"]

In [77]:
data1 = data1[["표준ID","정류소명","X좌표","Y좌표","저녁총승객수"]]
data1

           표준ID             정류소명         X좌표        Y좌표       저녁총승객수
0     121000001          교육개발원입구  127.038342  37.478514   494.453782
1     121000002          교육개발원입구  127.038676  37.477767   710.765152
2     121000003     양재역.서초문화예술회관  127.035847  37.482522   706.375000
3     121000004     양재역.서초문화예술회관  127.036825  37.481871  1982.243590
4     121000005            뱅뱅사거리  127.032367  37.487592   699.064039
...         ...              ...         ...        ...          ...
1161  122900097      수서교회.수서동성당앞  127.094743  37.483491    73.416667
1162  122000286        삼성서울병원사거리  127.082862  37.488968   742.666667
1163  122900073     강남신동아파밀리에2단지  127.101538  37.464601   659.333333
1164  122000287   일원주유소.삼성서울병원후문  127.087681  37.490657  1420.677419
1165  122900074  리엔파크4단지.강남데시앙파크  127.101900  37.461227   785.458333

[1166 rows x 5 columns]

In [78]:
data1['bus_cnt']=1
data1['X좌표'] = data1['X좌표'].astype(float)
data1['Y좌표'] = data1['Y좌표'].astype(float)
data1['point'] = data1.apply(lambda row : Point([row['X좌표'], row['Y좌표']]), axis=1)
data1 = gpd.GeoDataFrame(data1, geometry='point')

In [79]:
data1

,표준ID,정류소명,X좌표,Y좌표,저녁총승객수,bus_cnt,point
0,121000001,교육개발원입구,127.038342,37.478514,494.453782,1,POINT (127.03834 37.47851)
1,121000002,교육개발원입구,127.038676,37.477767,710.765152,1,POINT (127.03868 37.47777)
2,121000003,양재역.서초문화예술회관,127.035847,37.482522,706.375000,1,POINT (127.03585 37.48252)
3,121000004,양재역.서초문화예술회관,127.036825,37.481871,1982.243590,1,POINT (127.03683 37.48187)
4,121000005,뱅뱅사거리,127.032367,37.487592,699.064039,1,POINT (127.03237 37.48759)
...,...,...,...,...,...,...,...
1161,122900097,수서교회.수서동성당앞,127.094743,37.483491,73.416667,1,POINT (127.09474 37.48349)
1162,122000286,삼성서울병원사거리,127.082862,37.488968,742.666667,1,POINT (127.08286 37.48897)
1163,122900073,강남신동아파밀리에2단지,127.101538,37.464601,659.333333,1,POINT (127.10154 37.46460)
1164,122000287,일원주유소.삼성서울병원후문,127.087681,37.490657,1420.677419,1,POINT (127.08768 37.49066)
1165,122900074,리엔파크4단지.강남데시앙파크,127.101900,37.461227,785.458333,1,POINT (127.10190 37.46123)

In [80]:
gid_list = []
for i in tqdm(range(data1.shape[0])):
    point = data1['point'].iloc[i]
    if data_gid['geometry'].contains(point).sum() == 0:
        g1 = "Na"
    else :
        g = data_gid['gid'].loc[data_gid['geometry'].contains(point)]
        g1 = g.iloc[0]
    gid_list.append(g1)

100%|████████████████████████████████████████| 1166/1166 [02:02<00:00,  9.49it/s]

In [81]:
data1['gid'] = gid_list
data1['TL_cnt']=1
data1

,표준ID,정류소명,X좌표,Y좌표,저녁총승객수,bus_cnt,point,gid,TL_cnt
0,121000001,교육개발원입구,127.038342,37.478514,494.453782,1,POINT (127.03834 37.47851),다사591422,1
1,121000002,교육개발원입구,127.038676,37.477767,710.765152,1,POINT (127.03868 37.47777),다사592421,1
2,121000003,양재역.서초문화예술회관,127.035847,37.482522,706.375000,1,POINT (127.03585 37.48252),다사589426,1
3,121000004,양재역.서초문화예술회관,127.036825,37.481871,1982.243590,1,POINT (127.03683 37.48187),다사590426,1
4,121000005,뱅뱅사거리,127.032367,37.487592,699.064039,1,POINT (127.03237 37.48759),다사586432,1
...,...,...,...,...,...,...,...,...,...
1161,122900097,수서교회.수서동성당앞,127.094743,37.483491,73.416667,1,POINT (127.09474 37.48349),다사641427,1
1162,122000286,삼성서울병원사거리,127.082862,37.488968,742.666667,1,POINT (127.08286 37.48897),다사631433,1
1163,122900073,강남신동아파밀리에2단지,127.101538,37.464601,659.333333,1,POINT (127.10154 37.46460),다사647406,1
1164,122000287,일원주유소.삼성서울병원후문,127.087681,37.490657,1420.677419,1,POINT (127.08768 37.49066),다사635435,1
1165,122900074,리엔파크4단지.강남데시앙파크,127.101900,37.461227,785.458333,1,POINT (127.10190 37.46123),다사647402,1

In [82]:
data1 = data1[["gid","저녁총승객수"]]
data1

           gid       저녁총승객수
0     다사591422   494.453782
1     다사592421   710.765152
2     다사589426   706.375000
3     다사590426  1982.243590
4     다사586432   699.064039
...        ...          ...
1161  다사641427    73.416667
1162  다사631433   742.666667
1163  다사647406   659.333333
1164  다사635435  1420.677419
1165  다사647402   785.458333

[1166 rows x 2 columns]

In [83]:
result1 = data1[['저녁총승객수', 'gid']].groupby(['gid']).sum()

In [84]:
result1.reset_index(inplace=True)

In [86]:
result1 = result1.drop(index=0, axis=0)

In [87]:
result1

          gid       저녁총승객수
1    다사540452   507.370000
2    다사541419   848.768595
3    다사541421  1874.736111
4    다사541423  1591.408163
5    다사542418  2929.583333
..        ...          ...
774  다사655420  1905.945235
775  다사658421  1263.244745
776  다사660408    58.083333
777  다사662409    63.138889
778  다사664410   253.250000

[778 rows x 2 columns]

In [88]:
result1.to_csv("output/그리드 전처리 완료/서초강남버스저녁하차.csv")

## 강남구서초구 지하철 승하차

In [89]:
data1 = pd.read_csv("output/서초강남지하철승하차.csv")

In [90]:
data1

,Unnamed: 0,Unnamed: 0.1,역이름,위도,경도,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,...,23시-24시 승차인원,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원
0,5,5,강남구청역,37.517201,127.041287,8,0,2319,2329,5879,...,5963,4919,31,720,0,0,0,0,0,0
1,6,6,강남역,37.498085,127.027978,85,6,5464,10853,15861,...,24062,12861,7,4,0,0,0,0,0,0
2,12,12,개포동역,37.489132,127.066103,2,0,687,1011,3267,...,650,2034,5,58,0,0,0,0,0,0
3,20,20,고속터미널역,37.504540,127.005135,162,8,7178,6966,14260,...,19976,14774,18,387,0,0,0,0,0,0
4,28,28,교대역,37.492736,127.013863,43,0,3120,7490,14922,...,9727,8907,2,38,0,1,0,1,0,0
5,31,31,구룡역,37.487027,127.059475,0,0,360,829,1312,...,170,936,8,27,0,0,0,0,0,0
6,32,32,구반포역,37.501422,126.987447,0,0,516,236,1717,...,376,1491,0,45,0,0,0,0,0,0
7,37,37,국회의사당역,37.528136,126.917821,3,0,607,1731,1777,...,2165,1061,0,0,0,0,0,0,0,0
8,48,48,남부터미널역,37.485185,127.016191,10,0,2452,1284,8012,...,4321,6529,4,28,1,3,1,0,0,0
9,51,51,남태령역,37.464246,126.989081,46,0,453,126,824,...,90,384,0,31,0,0,0,0,0,0
10,52,52,내방역,37.487655,126.993578,3,0,2310,1360,6570,...,2472,4088,5,1406,0,0,0,0,0,0
11,57,57,녹사평역,37.534705,126.986536,14,0,878,412,1844,...,1751,1703,1,88,0,0,0,0,0,0
12,59,59,논현역,37.511187,127.021649,5,0,1949,1307,4498,...,7625,4046,11,296,0,0,0,0,0,0
13,64,64,대모산입구역,37.491543,127.073070,2,0,1703,1262,3541,...,327,1680,3,81,0,0,0,0,0,0
14,66,66,대청역,37.493701,127.079518,55,0,3190,1020,10337,...,978,5743,0,64,0,0,0,0,0,0
15,67,67,대치역,37.494486,127.063190,6,0,2250,777,10589,...,2157,4227,0,8,0,0,0,0,0,0
16,69,69,도곡역,37.490976,127.055498,68,2,2054,1365,6886,...,1812,4104,22,1011,0,1,0,0,0,0
17,81,81,동작역,37.502971,126.980299,33,0,1627,499,2962,...,820,2322,5,954,0,0,0,0,0,0
18,97,97,매봉역,37.486925,127.046698,6,1,1326,459,6454,...,1461,3340,0,332,0,0,0,0,0,0
19,109,109,반포역,37.508143,127.011582,1,0,798,596,2738,...,1667,1425,11,108,0,1,0,0,0,0
20,111,111,방배역,37.481456,126.997535,3,0,2607,3446,9244,...,3362,6048,0,3,0,0,0,0,0,0
21,119,119,봉은사역,37.514237,127.060220,1,0,1474,1068,4719,...,2163,1904,0,1,0,0,0,0,0,0
22,126,126,사당역,37.476553,126.981550,275,29,21237,4055,47923,...,14109,36907,13,2702,0,0,0,0,0,0
23,127,127,사평역,37.504233,127.015268,2,0,777,173,2917,...,392,1603,2,1,0,0,0,0,0,0
24,129,129,삼성역,37.508812,127.063021,115,0,4105,4724,6837,...,6998,4382,1,1712,0,0,0,0,0,0
25,130,130,삼성중앙역,37.512961,127.053026,0,0,730,479,2091,...,1180,1701,1,7,0,0,0,0,0,0
26,149,149,서초역,37.491836,127.007644,25,0,1260,4502,8928,...,3614,3206,0,0,0,0,0,0,0,0
27,154,154,선릉역,37.504494,127.048948,46,3,4225,7383,11972,...,12482,8782,59,533,0,0,0,0,0,0
28,156,156,선정릉역,37.510929,127.043614,20,2,1977,2173,5620,...,3157,3706,16,343,0,1,0,0,0,0
29,166,166,수서역,37.485284,127.104452,330,7,7563,4573,18120,...,6909,11385,11,998,0,0,0,0,0,0
30,174,174,신논현역,37.504808,127.025469,31,1,2782,1739,12190,...,7760,7767,6,571,0,0,0,0,0,0
31,182,182,신반포역,37.503495,126.996064,0,0,368,806,1846,...,512,1393,0,11,0,0,0,0,0,0
32,184,184,신사역,37.516431,127.020293,35,4,2420,1467,5240,...,6107,3801,0,92,0,0,0,0,0,0
33,198,198,압구정로데오역,37.527509,127.040591,55,0,1187,724,3231,...,3363,1708,29,317,0,0,0,0,0,0
34,199,199,압구정역,37.526485,127.028486,49,3,2827,1977,7469,...,4803,3777,5,844,0,0,0,0,0,0
35,202,202,양재역,37.484569,127.034146,67,1,4876,2382,13042,...,4743,9860,5,740,0,0,0,1,0,0
36,207,207,언주역,37.507328,127.033953,4,0,1050,801,2419,...,1782,2655,1,110,0,0,0,0,0,0
37,210,210,역삼역,37.500660,127.036460,38,2,3075,7003,7618,...,10106,6425,0,1,0,0,0,0,0,0
38,239,239,이수역,37.486789,126.982203,52,0,4090,1042,8572,...,3972,6312,10,499,0,0,0,0,0,0
39,241,241,이태원역,37.534507,126.994320,4,0,2046,950,4345,...,3618,4329,1,414,0,0,0,0,0,0
40,242,242,일원역,37.483985,127.084121,3,0,2041,1367,7977,...,840,3473,2,37,0,0,0,1,0,0
41,246,246,잠원역,37.512883,127.011401,2,0,889,461,4546,...,585,2311,0,5,1,1,0,0,0,0
42,267,267,청담역,37.519448,127.053709,11,0,1987,3667,5986,...,4014,2725,4,1252,0,0,0,0,0,0
43,269,269,총신대입구역,37.486789,126.982203,75,2,5727,839,15463,...,2334,9272,1,46,0,0,0,0,0,0
44,274,274,학동역,37.514357,127.031897,3,0,1778,2439,4272,...,5617,2679,10,171,0,0,0,0,0,0
45,275,275,학여울역,37.496878,127.071153,1,0,539,286,1783,...,193,817,0,2,0,0,0,0,0,0
46,281,281,한티역,37.496275,127.052901,19,3,1911,1034,7008,...,3065,4300,59,231,0,0,0,0,0,0

In [91]:
data1 = data1[["역이름","경도","위도","06시-07시 승차인원","07시-08시 승차인원","08시-09시 승차인원","09시-10시 승차인원"]]

In [92]:
data1

,역이름,경도,위도,06시-07시 승차인원,07시-08시 승차인원,08시-09시 승차인원,09시-10시 승차인원
0,강남구청역,127.041287,37.517201,5879,13890,18347,15993
1,강남역,127.027978,37.498085,15861,36772,58759,46399
2,개포동역,127.066103,37.489132,3267,8362,8911,5240
3,고속터미널역,127.005135,37.504540,14260,48533,73258,71291
4,교대역,127.013863,37.492736,14922,31695,44067,35377
5,구룡역,127.059475,37.487027,1312,2648,3772,3317
6,구반포역,126.987447,37.501422,1717,4806,5560,3790
7,국회의사당역,126.917821,37.528136,1777,3757,6112,4945
8,남부터미널역,127.016191,37.485185,8012,25921,37710,29099
9,남태령역,126.989081,37.464246,824,2147,2747,2202
10,내방역,126.993578,37.487655,6570,17341,26580,18234
11,녹사평역,126.986536,37.534705,1844,4806,7654,5290
12,논현역,127.021649,37.511187,4498,8498,14716,12854
13,대모산입구역,127.073070,37.491543,3541,9272,9526,5934
14,대청역,127.079518,37.493701,10337,26421,29184,16546
15,대치역,127.063190,37.494486,10589,24423,22256,13103
16,도곡역,127.055498,37.490976,6886,17526,22239,15325
17,동작역,126.980299,37.502971,2962,10452,12407,7905
18,매봉역,127.046698,37.486925,6454,15951,19229,13362
19,반포역,127.011582,37.508143,2738,7709,10108,6782
20,방배역,126.997535,37.481456,9244,23064,31316,23768
21,봉은사역,127.060220,37.514237,4719,8395,9784,7425
22,사당역,126.981550,37.476553,47923,133455,184959,126045
23,사평역,127.015268,37.504233,2917,8837,10061,5517
24,삼성역,127.063021,37.508812,6837,14406,18448,19071
25,삼성중앙역,127.053026,37.512961,2091,4867,6111,5163
26,서초역,127.007644,37.491836,8928,15581,23456,23348
27,선릉역,127.048948,37.504494,11972,24328,36183,32861
28,선정릉역,127.043614,37.510929,5620,13356,16651,13177
29,수서역,127.104452,37.485284,18120,55608,75026,47995
30,신논현역,127.025469,37.504808,12190,31150,42132,27545
31,신반포역,126.996064,37.503495,1846,5482,6576,4349
32,신사역,127.020293,37.516431,5240,10197,17155,13267
33,압구정로데오역,127.040591,37.527509,3231,5097,6999,6260
34,압구정역,127.028486,37.526485,7469,14969,22818,17748
35,양재역,127.034146,37.484569,13042,34576,43510,31103
36,언주역,127.033953,37.507328,2419,5862,8324,6902
37,역삼역,127.036460,37.500660,7618,13696,22786,21623
38,이수역,126.982203,37.486789,8572,26686,41048,26069
39,이태원역,126.994320,37.534507,4345,8811,13514,9693
40,일원역,127.084121,37.483985,7977,21830,20500,14423
41,잠원역,127.011401,37.512883,4546,11912,15034,9154
42,청담역,127.053709,37.519448,5986,10050,12956,10841
43,총신대입구역,126.982203,37.486789,15463,46534,57006,33787
44,학동역,127.031897,37.514357,4272,8265,10957,10233
45,학여울역,127.071153,37.496878,1783,3740,4089,2580
46,한티역,127.052901,37.496275,7008,19990,22904,13815

In [93]:
data1["아침총승객수"] = data1["06시-07시 승차인원"] + data1["07시-08시 승차인원"]+ data1["08시-09시 승차인원"]+ data1["09시-10시 승차인원"]

<ipython-input-93-b626f5a3266b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1["아침총승객수"] = data1["06시-07시 승차인원"] + data1["07시-08시 승차인원"]+ data1["08시-09시 승차인원"]+ data1["09시-10시 승차인원"]

In [95]:
data1 = data1[["역이름","경도","위도","아침총승객수"]]
data1

        역이름          경도         위도  아침총승객수
0     강남구청역  127.041287  37.517201   54109
1       강남역  127.027978  37.498085  157791
2      개포동역  127.066103  37.489132   25780
3    고속터미널역  127.005135  37.504540  207342
4       교대역  127.013863  37.492736  126061
5       구룡역  127.059475  37.487027   11049
6      구반포역  126.987447  37.501422   15873
7    국회의사당역  126.917821  37.528136   16591
8    남부터미널역  127.016191  37.485185  100742
9      남태령역  126.989081  37.464246    7920
10      내방역  126.993578  37.487655   68725
11     녹사평역  126.986536  37.534705   19594
12      논현역  127.021649  37.511187   40566
13   대모산입구역  127.073070  37.491543   28273
14      대청역  127.079518  37.493701   82488
15      대치역  127.063190  37.494486   70371
16      도곡역  127.055498  37.490976   61976
17      동작역  126.980299  37.502971   33726
18      매봉역  127.046698  37.486925   54996
19      반포역  127.011582  37.508143   27337
20      방배역  126.997535  37.481456   87392
21     봉은사역  127.060220  37.514237   30323
22      사당역  126.981550  37.476553  492382
23      사평역  127.015268  37.504233   27332
24      삼성역  127.063021  37.508812   58762
25    삼성중앙역  127.053026  37.512961   18232
26      서초역  127.007644  37.491836   71313
27      선릉역  127.048948  37.504494  105344
28     선정릉역  127.043614  37.510929   48804
29      수서역  127.104452  37.485284  196749
30     신논현역  127.025469  37.504808  113017
31     신반포역  126.996064  37.503495   18253
32      신사역  127.020293  37.516431   45859
33  압구정로데오역  127.040591  37.527509   21587
34     압구정역  127.028486  37.526485   63004
35      양재역  127.034146  37.484569  122231
36      언주역  127.033953  37.507328   23507
37      역삼역  127.036460  37.500660   65723
38      이수역  126.982203  37.486789  102375
39     이태원역  126.994320  37.534507   36363
40      일원역  127.084121  37.483985   64730
41      잠원역  127.011401  37.512883   40646
42      청담역  127.053709  37.519448   39833
43   총신대입구역  126.982203  37.486789  152790
44      학동역  127.031897  37.514357   33727
45     학여울역  127.071153  37.496878   12192
46      한티역  127.052901  37.496275   63717

In [96]:
data1['sub_cnt']=1
data1['경도'] = data1['경도'].astype(float)
data1['위도'] = data1['위도'].astype(float)
data1['point'] = data1.apply(lambda row : Point([row['경도'], row['위도']]), axis=1)
data1 = gpd.GeoDataFrame(data1, geometry='point')

<ipython-input-96-19edd474c248>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['sub_cnt']=1
<ipython-input-96-19edd474c248>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['경도'] = data1['경도'].astype(float)
<ipython-input-96-19edd474c248>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['위도'] = data1['위도'].astype(float)
<ipython-input-96-19edd474c248>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['point'] = data1.apply(lambda row : Point([row['경도'], row['위도']]), axis=1)

In [97]:
data1

,역이름,경도,위도,아침총승객수,sub_cnt,point
0,강남구청역,127.041287,37.517201,54109,1,POINT (127.04129 37.51720)
1,강남역,127.027978,37.498085,157791,1,POINT (127.02798 37.49809)
2,개포동역,127.066103,37.489132,25780,1,POINT (127.06610 37.48913)
3,고속터미널역,127.005135,37.504540,207342,1,POINT (127.00513 37.50454)
4,교대역,127.013863,37.492736,126061,1,POINT (127.01386 37.49274)
5,구룡역,127.059475,37.487027,11049,1,POINT (127.05947 37.48703)
6,구반포역,126.987447,37.501422,15873,1,POINT (126.98745 37.50142)
7,국회의사당역,126.917821,37.528136,16591,1,POINT (126.91782 37.52814)
8,남부터미널역,127.016191,37.485185,100742,1,POINT (127.01619 37.48519)
9,남태령역,126.989081,37.464246,7920,1,POINT (126.98908 37.46425)
10,내방역,126.993578,37.487655,68725,1,POINT (126.99358 37.48765)
11,녹사평역,126.986536,37.534705,19594,1,POINT (126.98654 37.53470)
12,논현역,127.021649,37.511187,40566,1,POINT (127.02165 37.51119)
13,대모산입구역,127.073070,37.491543,28273,1,POINT (127.07307 37.49154)
14,대청역,127.079518,37.493701,82488,1,POINT (127.07952 37.49370)
15,대치역,127.063190,37.494486,70371,1,POINT (127.06319 37.49449)
16,도곡역,127.055498,37.490976,61976,1,POINT (127.05550 37.49098)
17,동작역,126.980299,37.502971,33726,1,POINT (126.98030 37.50297)
18,매봉역,127.046698,37.486925,54996,1,POINT (127.04670 37.48693)
19,반포역,127.011582,37.508143,27337,1,POINT (127.01158 37.50814)
20,방배역,126.997535,37.481456,87392,1,POINT (126.99754 37.48146)
21,봉은사역,127.060220,37.514237,30323,1,POINT (127.06022 37.51424)
22,사당역,126.981550,37.476553,492382,1,POINT (126.98155 37.47655)
23,사평역,127.015268,37.504233,27332,1,POINT (127.01527 37.50423)
24,삼성역,127.063021,37.508812,58762,1,POINT (127.06302 37.50881)
25,삼성중앙역,127.053026,37.512961,18232,1,POINT (127.05303 37.51296)
26,서초역,127.007644,37.491836,71313,1,POINT (127.00764 37.49184)
27,선릉역,127.048948,37.504494,105344,1,POINT (127.04895 37.50449)
28,선정릉역,127.043614,37.510929,48804,1,POINT (127.04361 37.51093)
29,수서역,127.104452,37.485284,196749,1,POINT (127.10445 37.48528)
30,신논현역,127.025469,37.504808,113017,1,POINT (127.02547 37.50481)
31,신반포역,126.996064,37.503495,18253,1,POINT (126.99606 37.50349)
32,신사역,127.020293,37.516431,45859,1,POINT (127.02029 37.51643)
33,압구정로데오역,127.040591,37.527509,21587,1,POINT (127.04059 37.52751)
34,압구정역,127.028486,37.526485,63004,1,POINT (127.02849 37.52648)
35,양재역,127.034146,37.484569,122231,1,POINT (127.03415 37.48457)
36,언주역,127.033953,37.507328,23507,1,POINT (127.03395 37.50733)
37,역삼역,127.036460,37.500660,65723,1,POINT (127.03646 37.50066)
38,이수역,126.982203,37.486789,102375,1,POINT (126.98220 37.48679)
39,이태원역,126.994320,37.534507,36363,1,POINT (126.99432 37.53451)
40,일원역,127.084121,37.483985,64730,1,POINT (127.08412 37.48399)
41,잠원역,127.011401,37.512883,40646,1,POINT (127.01140 37.51288)
42,청담역,127.053709,37.519448,39833,1,POINT (127.05371 37.51945)
43,총신대입구역,126.982203,37.486789,152790,1,POINT (126.98220 37.48679)
44,학동역,127.031897,37.514357,33727,1,POINT (127.03190 37.51436)
45,학여울역,127.071153,37.496878,12192,1,POINT (127.07115 37.49688)
46,한티역,127.052901,37.496275,63717,1,POINT (127.05290 37.49627)

In [98]:
gid_list = []
for i in tqdm(range(data1.shape[0])):
    point = data1['point'].iloc[i]
    if data_gid['geometry'].contains(point).sum() == 0:
        g1 = "Na"
    else :
        g = data_gid['gid'].loc[data_gid['geometry'].contains(point)]
        g1 = g.iloc[0]
    gid_list.append(g1)

100%|████████████████████████████████████████████| 47/47 [00:05<00:00,  8.81it/s]

In [99]:
data1['gid'] = gid_list
data1['TL_cnt']=1
data1

,역이름,경도,위도,아침총승객수,sub_cnt,point,gid,TL_cnt
0,강남구청역,127.041287,37.517201,54109,1,POINT (127.04129 37.51720),다사594465,1
1,강남역,127.027978,37.498085,157791,1,POINT (127.02798 37.49809),다사582444,1
2,개포동역,127.066103,37.489132,25780,1,POINT (127.06610 37.48913),다사616434,1
3,고속터미널역,127.005135,37.504540,207342,1,POINT (127.00513 37.50454),다사562451,1
4,교대역,127.013863,37.492736,126061,1,POINT (127.01386 37.49274),다사570438,1
5,구룡역,127.059475,37.487027,11049,1,POINT (127.05947 37.48703),다사610431,1
6,구반포역,126.987447,37.501422,15873,1,POINT (126.98745 37.50142),다사546448,1
7,국회의사당역,126.917821,37.528136,16591,1,POINT (126.91782 37.52814),Na,1
8,남부터미널역,127.016191,37.485185,100742,1,POINT (127.01619 37.48519),다사572429,1
9,남태령역,126.989081,37.464246,7920,1,POINT (126.98908 37.46425),다사548406,1
10,내방역,126.993578,37.487655,68725,1,POINT (126.99358 37.48765),다사552432,1
11,녹사평역,126.986536,37.534705,19594,1,POINT (126.98654 37.53470),Na,1
12,논현역,127.021649,37.511187,40566,1,POINT (127.02165 37.51119),다사577458,1
13,대모산입구역,127.073070,37.491543,28273,1,POINT (127.07307 37.49154),다사622436,1
14,대청역,127.079518,37.493701,82488,1,POINT (127.07952 37.49370),다사628439,1
15,대치역,127.063190,37.494486,70371,1,POINT (127.06319 37.49449),다사613440,1
16,도곡역,127.055498,37.490976,61976,1,POINT (127.05550 37.49098),다사607436,1
17,동작역,126.980299,37.502971,33726,1,POINT (126.98030 37.50297),다사540449,1
18,매봉역,127.046698,37.486925,54996,1,POINT (127.04670 37.48693),다사599431,1
19,반포역,127.011582,37.508143,27337,1,POINT (127.01158 37.50814),다사568455,1
20,방배역,126.997535,37.481456,87392,1,POINT (126.99754 37.48146),다사555425,1
21,봉은사역,127.060220,37.514237,30323,1,POINT (127.06022 37.51424),다사611461,1
22,사당역,126.981550,37.476553,492382,1,POINT (126.98155 37.47655),다사541420,1
23,사평역,127.015268,37.504233,27332,1,POINT (127.01527 37.50423),다사571451,1
24,삼성역,127.063021,37.508812,58762,1,POINT (127.06302 37.50881),다사613455,1
25,삼성중앙역,127.053026,37.512961,18232,1,POINT (127.05303 37.51296),다사604460,1
26,서초역,127.007644,37.491836,71313,1,POINT (127.00764 37.49184),다사564437,1
27,선릉역,127.048948,37.504494,105344,1,POINT (127.04895 37.50449),다사601451,1
28,선정릉역,127.043614,37.510929,48804,1,POINT (127.04361 37.51093),다사596458,1
29,수서역,127.104452,37.485284,196749,1,POINT (127.10445 37.48528),다사650429,1
30,신논현역,127.025469,37.504808,113017,1,POINT (127.02547 37.50481),다사580451,1
31,신반포역,126.996064,37.503495,18253,1,POINT (126.99606 37.50349),다사554450,1
32,신사역,127.020293,37.516431,45859,1,POINT (127.02029 37.51643),다사576464,1
33,압구정로데오역,127.040591,37.527509,21587,1,POINT (127.04059 37.52751),다사594476,1
34,압구정역,127.028486,37.526485,63004,1,POINT (127.02849 37.52648),다사583475,1
35,양재역,127.034146,37.484569,122231,1,POINT (127.03415 37.48457),다사588429,1
36,언주역,127.033953,37.507328,23507,1,POINT (127.03395 37.50733),다사588454,1
37,역삼역,127.036460,37.500660,65723,1,POINT (127.03646 37.50066),다사590447,1
38,이수역,126.982203,37.486789,102375,1,POINT (126.98220 37.48679),다사542431,1
39,이태원역,126.994320,37.534507,36363,1,POINT (126.99432 37.53451),Na,1
40,일원역,127.084121,37.483985,64730,1,POINT (127.08412 37.48399),다사632428,1
41,잠원역,127.011401,37.512883,40646,1,POINT (127.01140 37.51288),다사568460,1
42,청담역,127.053709,37.519448,39833,1,POINT (127.05371 37.51945),다사605467,1
43,총신대입구역,126.982203,37.486789,152790,1,POINT (126.98220 37.48679),다사542431,1
44,학동역,127.031897,37.514357,33727,1,POINT (127.03190 37.51436),다사586462,1
45,학여울역,127.071153,37.496878,12192,1,POINT (127.07115 37.49688),다사620442,1
46,한티역,127.052901,37.496275,63717,1,POINT (127.05290 37.49627),다사604442,1

In [100]:
data1 = data1[["gid","아침총승객수"]]
data1

         gid  아침총승객수
0   다사594465   54109
1   다사582444  157791
2   다사616434   25780
3   다사562451  207342
4   다사570438  126061
5   다사610431   11049
6   다사546448   15873
7         Na   16591
8   다사572429  100742
9   다사548406    7920
10  다사552432   68725
11        Na   19594
12  다사577458   40566
13  다사622436   28273
14  다사628439   82488
15  다사613440   70371
16  다사607436   61976
17  다사540449   33726
18  다사599431   54996
19  다사568455   27337
20  다사555425   87392
21  다사611461   30323
22  다사541420  492382
23  다사571451   27332
24  다사613455   58762
25  다사604460   18232
26  다사564437   71313
27  다사601451  105344
28  다사596458   48804
29  다사650429  196749
30  다사580451  113017
31  다사554450   18253
32  다사576464   45859
33  다사594476   21587
34  다사583475   63004
35  다사588429  122231
36  다사588454   23507
37  다사590447   65723
38  다사542431  102375
39        Na   36363
40  다사632428   64730
41  다사568460   40646
42  다사605467   39833
43  다사542431  152790
44  다사586462   33727
45  다사620442   12192
46  다사604442   63717

In [101]:
result1 = data1[['아침총승객수', 'gid']].groupby(['gid']).sum()

In [102]:
result1

          아침총승객수
gid
Na         72548
다사540449   33726
다사541420  492382
다사542431  255165
다사546448   15873
다사548406    7920
다사552432   68725
다사554450   18253
다사555425   87392
다사562451  207342
다사564437   71313
다사568455   27337
다사568460   40646
다사570438  126061
다사571451   27332
다사572429  100742
다사576464   45859
다사577458   40566
다사580451  113017
다사582444  157791
다사583475   63004
다사586462   33727
다사588429  122231
다사588454   23507
다사590447   65723
다사594465   54109
다사594476   21587
다사596458   48804
다사599431   54996
다사601451  105344
다사604442   63717
다사604460   18232
다사605467   39833
다사607436   61976
다사610431   11049
다사611461   30323
다사613440   70371
다사613455   58762
다사616434   25780
다사620442   12192
다사622436   28273
다사628439   82488
다사632428   64730
다사650429  196749

In [103]:
result1.reset_index(inplace=True)

In [104]:
result1 = result1.drop(index=0, axis=0)

In [105]:
result1

         gid  아침총승객수
1   다사540449   33726
2   다사541420  492382
3   다사542431  255165
4   다사546448   15873
5   다사548406    7920
6   다사552432   68725
7   다사554450   18253
8   다사555425   87392
9   다사562451  207342
10  다사564437   71313
11  다사568455   27337
12  다사568460   40646
13  다사570438  126061
14  다사571451   27332
15  다사572429  100742
16  다사576464   45859
17  다사577458   40566
18  다사580451  113017
19  다사582444  157791
20  다사583475   63004
21  다사586462   33727
22  다사588429  122231
23  다사588454   23507
24  다사590447   65723
25  다사594465   54109
26  다사594476   21587
27  다사596458   48804
28  다사599431   54996
29  다사601451  105344
30  다사604442   63717
31  다사604460   18232
32  다사605467   39833
33  다사607436   61976
34  다사610431   11049
35  다사611461   30323
36  다사613440   70371
37  다사613455   58762
38  다사616434   25780
39  다사620442   12192
40  다사622436   28273
41  다사628439   82488
42  다사632428   64730
43  다사650429  196749

In [106]:
result1.to_csv("output/그리드 전처리 완료/서초강남지하철아침승차.csv")

## 강남구서초구 지하철 승하차

In [107]:
data1 = pd.read_csv("output/서초강남지하철승하차.csv")

In [108]:
data1

,Unnamed: 0,Unnamed: 0.1,역이름,위도,경도,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,...,23시-24시 승차인원,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원
0,5,5,강남구청역,37.517201,127.041287,8,0,2319,2329,5879,...,5963,4919,31,720,0,0,0,0,0,0
1,6,6,강남역,37.498085,127.027978,85,6,5464,10853,15861,...,24062,12861,7,4,0,0,0,0,0,0
2,12,12,개포동역,37.489132,127.066103,2,0,687,1011,3267,...,650,2034,5,58,0,0,0,0,0,0
3,20,20,고속터미널역,37.504540,127.005135,162,8,7178,6966,14260,...,19976,14774,18,387,0,0,0,0,0,0
4,28,28,교대역,37.492736,127.013863,43,0,3120,7490,14922,...,9727,8907,2,38,0,1,0,1,0,0
5,31,31,구룡역,37.487027,127.059475,0,0,360,829,1312,...,170,936,8,27,0,0,0,0,0,0
6,32,32,구반포역,37.501422,126.987447,0,0,516,236,1717,...,376,1491,0,45,0,0,0,0,0,0
7,37,37,국회의사당역,37.528136,126.917821,3,0,607,1731,1777,...,2165,1061,0,0,0,0,0,0,0,0
8,48,48,남부터미널역,37.485185,127.016191,10,0,2452,1284,8012,...,4321,6529,4,28,1,3,1,0,0,0
9,51,51,남태령역,37.464246,126.989081,46,0,453,126,824,...,90,384,0,31,0,0,0,0,0,0
10,52,52,내방역,37.487655,126.993578,3,0,2310,1360,6570,...,2472,4088,5,1406,0,0,0,0,0,0
11,57,57,녹사평역,37.534705,126.986536,14,0,878,412,1844,...,1751,1703,1,88,0,0,0,0,0,0
12,59,59,논현역,37.511187,127.021649,5,0,1949,1307,4498,...,7625,4046,11,296,0,0,0,0,0,0
13,64,64,대모산입구역,37.491543,127.073070,2,0,1703,1262,3541,...,327,1680,3,81,0,0,0,0,0,0
14,66,66,대청역,37.493701,127.079518,55,0,3190,1020,10337,...,978,5743,0,64,0,0,0,0,0,0
15,67,67,대치역,37.494486,127.063190,6,0,2250,777,10589,...,2157,4227,0,8,0,0,0,0,0,0
16,69,69,도곡역,37.490976,127.055498,68,2,2054,1365,6886,...,1812,4104,22,1011,0,1,0,0,0,0
17,81,81,동작역,37.502971,126.980299,33,0,1627,499,2962,...,820,2322,5,954,0,0,0,0,0,0
18,97,97,매봉역,37.486925,127.046698,6,1,1326,459,6454,...,1461,3340,0,332,0,0,0,0,0,0
19,109,109,반포역,37.508143,127.011582,1,0,798,596,2738,...,1667,1425,11,108,0,1,0,0,0,0
20,111,111,방배역,37.481456,126.997535,3,0,2607,3446,9244,...,3362,6048,0,3,0,0,0,0,0,0
21,119,119,봉은사역,37.514237,127.060220,1,0,1474,1068,4719,...,2163,1904,0,1,0,0,0,0,0,0
22,126,126,사당역,37.476553,126.981550,275,29,21237,4055,47923,...,14109,36907,13,2702,0,0,0,0,0,0
23,127,127,사평역,37.504233,127.015268,2,0,777,173,2917,...,392,1603,2,1,0,0,0,0,0,0
24,129,129,삼성역,37.508812,127.063021,115,0,4105,4724,6837,...,6998,4382,1,1712,0,0,0,0,0,0
25,130,130,삼성중앙역,37.512961,127.053026,0,0,730,479,2091,...,1180,1701,1,7,0,0,0,0,0,0
26,149,149,서초역,37.491836,127.007644,25,0,1260,4502,8928,...,3614,3206,0,0,0,0,0,0,0,0
27,154,154,선릉역,37.504494,127.048948,46,3,4225,7383,11972,...,12482,8782,59,533,0,0,0,0,0,0
28,156,156,선정릉역,37.510929,127.043614,20,2,1977,2173,5620,...,3157,3706,16,343,0,1,0,0,0,0
29,166,166,수서역,37.485284,127.104452,330,7,7563,4573,18120,...,6909,11385,11,998,0,0,0,0,0,0
30,174,174,신논현역,37.504808,127.025469,31,1,2782,1739,12190,...,7760,7767,6,571,0,0,0,0,0,0
31,182,182,신반포역,37.503495,126.996064,0,0,368,806,1846,...,512,1393,0,11,0,0,0,0,0,0
32,184,184,신사역,37.516431,127.020293,35,4,2420,1467,5240,...,6107,3801,0,92,0,0,0,0,0,0
33,198,198,압구정로데오역,37.527509,127.040591,55,0,1187,724,3231,...,3363,1708,29,317,0,0,0,0,0,0
34,199,199,압구정역,37.526485,127.028486,49,3,2827,1977,7469,...,4803,3777,5,844,0,0,0,0,0,0
35,202,202,양재역,37.484569,127.034146,67,1,4876,2382,13042,...,4743,9860,5,740,0,0,0,1,0,0
36,207,207,언주역,37.507328,127.033953,4,0,1050,801,2419,...,1782,2655,1,110,0,0,0,0,0,0
37,210,210,역삼역,37.500660,127.036460,38,2,3075,7003,7618,...,10106,6425,0,1,0,0,0,0,0,0
38,239,239,이수역,37.486789,126.982203,52,0,4090,1042,8572,...,3972,6312,10,499,0,0,0,0,0,0
39,241,241,이태원역,37.534507,126.994320,4,0,2046,950,4345,...,3618,4329,1,414,0,0,0,0,0,0
40,242,242,일원역,37.483985,127.084121,3,0,2041,1367,7977,...,840,3473,2,37,0,0,0,1,0,0
41,246,246,잠원역,37.512883,127.011401,2,0,889,461,4546,...,585,2311,0,5,1,1,0,0,0,0
42,267,267,청담역,37.519448,127.053709,11,0,1987,3667,5986,...,4014,2725,4,1252,0,0,0,0,0,0
43,269,269,총신대입구역,37.486789,126.982203,75,2,5727,839,15463,...,2334,9272,1,46,0,0,0,0,0,0
44,274,274,학동역,37.514357,127.031897,3,0,1778,2439,4272,...,5617,2679,10,171,0,0,0,0,0,0
45,275,275,학여울역,37.496878,127.071153,1,0,539,286,1783,...,193,817,0,2,0,0,0,0,0,0
46,281,281,한티역,37.496275,127.052901,19,3,1911,1034,7008,...,3065,4300,59,231,0,0,0,0,0,0

In [109]:
data1 = data1[["역이름","경도","위도","07시-08시 하차인원","08시-09시 하차인원","09시-10시 하차인원","10시-11시 하차인원"]]

In [110]:
data1

,역이름,경도,위도,07시-08시 하차인원,08시-09시 하차인원,09시-10시 하차인원,10시-11시 하차인원
0,강남구청역,127.041287,37.517201,48223,162627,136429,54003
1,강남역,127.027978,37.498085,151261,321542,311718,143770
2,개포동역,127.066103,37.489132,5893,9584,6559,4762
3,고속터미널역,127.005135,37.504540,97183,143408,144955,122455
4,교대역,127.013863,37.492736,77274,206253,167263,80836
5,구룡역,127.059475,37.487027,9114,5010,2185,1577
6,구반포역,126.987447,37.501422,3438,7021,5142,3524
7,국회의사당역,126.917821,37.528136,40486,144018,59971,20073
8,남부터미널역,127.016191,37.485185,57915,157828,77899,44551
9,남태령역,126.989081,37.464246,3799,4956,1685,1191
10,내방역,126.993578,37.487655,24118,81894,41318,17156
11,녹사평역,126.986536,37.534705,9892,17370,7914,6183
12,논현역,127.021649,37.511187,45428,123263,98532,39145
13,대모산입구역,127.073070,37.491543,5195,8899,4307,2924
14,대청역,127.079518,37.493701,14955,26268,10545,7709
15,대치역,127.063190,37.494486,18100,25358,17181,12290
16,도곡역,127.055498,37.490976,29395,45345,31663,15720
17,동작역,126.980299,37.502971,6012,9156,6291,5997
18,매봉역,127.046698,37.486925,22345,68692,39661,14097
19,반포역,127.011582,37.508143,11643,19121,16063,7991
20,방배역,126.997535,37.481456,28739,74042,46808,22564
21,봉은사역,127.060220,37.514237,33223,90517,60872,25448
22,사당역,126.981550,37.476553,61733,97798,72723,57634
23,사평역,127.015268,37.504233,5238,7459,3347,2784
24,삼성역,127.063021,37.508812,119470,320875,219840,87551
25,삼성중앙역,127.053026,37.512961,13812,39510,28374,11414
26,서초역,127.007644,37.491836,48376,122231,86755,35816
27,선릉역,127.048948,37.504494,146640,397301,286780,124570
28,선정릉역,127.043614,37.510929,28787,111467,86655,32772
29,수서역,127.104452,37.485284,58401,98158,54688,39552
30,신논현역,127.025469,37.504808,41755,90326,99339,53548
31,신반포역,126.996064,37.503495,7147,8968,5367,3962
32,신사역,127.020293,37.516431,44201,114242,136267,65990
33,압구정로데오역,127.040591,37.527509,22995,70720,104489,46994
34,압구정역,127.028486,37.526485,44514,134161,154460,70970
35,양재역,127.034146,37.484569,105902,240644,126230,52654
36,언주역,127.033953,37.507328,18677,57679,40405,18493
37,역삼역,127.036460,37.500660,128541,329368,264016,97649
38,이수역,126.982203,37.486789,15025,41524,26313,17937
39,이태원역,126.994320,37.534507,11233,26480,20908,13327
40,일원역,127.084121,37.483985,29554,25794,17003,14589
41,잠원역,127.011401,37.512883,6916,10048,6587,4451
42,청담역,127.053709,37.519448,59048,146644,95240,36640
43,총신대입구역,126.982203,37.486789,18108,42121,31841,23039
44,학동역,127.031897,37.514357,53770,188240,138279,44886
45,학여울역,127.071153,37.496878,3346,7762,5418,4995
46,한티역,127.052901,37.496275,25343,44301,37652,22198

In [111]:
data1["아침총승객수"] = data1["07시-08시 하차인원"] + data1["08시-09시 하차인원"]+ data1["09시-10시 하차인원"]+ data1["10시-11시 하차인원"]

<ipython-input-111-8c2c1073cb5d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1["아침총승객수"] = data1["07시-08시 하차인원"] + data1["08시-09시 하차인원"]+ data1["09시-10시 하차인원"]+ data1["10시-11시 하차인원"]

In [112]:
data1 = data1[["역이름","경도","위도","아침총승객수"]]
data1

        역이름          경도         위도  아침총승객수
0     강남구청역  127.041287  37.517201  401282
1       강남역  127.027978  37.498085  928291
2      개포동역  127.066103  37.489132   26798
3    고속터미널역  127.005135  37.504540  508001
4       교대역  127.013863  37.492736  531626
5       구룡역  127.059475  37.487027   17886
6      구반포역  126.987447  37.501422   19125
7    국회의사당역  126.917821  37.528136  264548
8    남부터미널역  127.016191  37.485185  338193
9      남태령역  126.989081  37.464246   11631
10      내방역  126.993578  37.487655  164486
11     녹사평역  126.986536  37.534705   41359
12      논현역  127.021649  37.511187  306368
13   대모산입구역  127.073070  37.491543   21325
14      대청역  127.079518  37.493701   59477
15      대치역  127.063190  37.494486   72929
16      도곡역  127.055498  37.490976  122123
17      동작역  126.980299  37.502971   27456
18      매봉역  127.046698  37.486925  144795
19      반포역  127.011582  37.508143   54818
20      방배역  126.997535  37.481456  172153
21     봉은사역  127.060220  37.514237  210060
22      사당역  126.981550  37.476553  289888
23      사평역  127.015268  37.504233   18828
24      삼성역  127.063021  37.508812  747736
25    삼성중앙역  127.053026  37.512961   93110
26      서초역  127.007644  37.491836  293178
27      선릉역  127.048948  37.504494  955291
28     선정릉역  127.043614  37.510929  259681
29      수서역  127.104452  37.485284  250799
30     신논현역  127.025469  37.504808  284968
31     신반포역  126.996064  37.503495   25444
32      신사역  127.020293  37.516431  360700
33  압구정로데오역  127.040591  37.527509  245198
34     압구정역  127.028486  37.526485  404105
35      양재역  127.034146  37.484569  525430
36      언주역  127.033953  37.507328  135254
37      역삼역  127.036460  37.500660  819574
38      이수역  126.982203  37.486789  100799
39     이태원역  126.994320  37.534507   71948
40      일원역  127.084121  37.483985   86940
41      잠원역  127.011401  37.512883   28002
42      청담역  127.053709  37.519448  337572
43   총신대입구역  126.982203  37.486789  115109
44      학동역  127.031897  37.514357  425175
45     학여울역  127.071153  37.496878   21521
46      한티역  127.052901  37.496275  129494

In [113]:
data1['sub_cnt']=1
data1['경도'] = data1['경도'].astype(float)
data1['위도'] = data1['위도'].astype(float)
data1['point'] = data1.apply(lambda row : Point([row['경도'], row['위도']]), axis=1)
data1 = gpd.GeoDataFrame(data1, geometry='point')

<ipython-input-113-19edd474c248>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['sub_cnt']=1
<ipython-input-113-19edd474c248>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['경도'] = data1['경도'].astype(float)
<ipython-input-113-19edd474c248>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['위도'] = data1['위도'].astype(float)
<ipython-input-113-19edd474c248>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['point'] = data1.apply(lambda row : Point([row['경도'], row['위도']]), axis=1)

In [114]:
data1

,역이름,경도,위도,아침총승객수,sub_cnt,point
0,강남구청역,127.041287,37.517201,401282,1,POINT (127.04129 37.51720)
1,강남역,127.027978,37.498085,928291,1,POINT (127.02798 37.49809)
2,개포동역,127.066103,37.489132,26798,1,POINT (127.06610 37.48913)
3,고속터미널역,127.005135,37.504540,508001,1,POINT (127.00513 37.50454)
4,교대역,127.013863,37.492736,531626,1,POINT (127.01386 37.49274)
5,구룡역,127.059475,37.487027,17886,1,POINT (127.05947 37.48703)
6,구반포역,126.987447,37.501422,19125,1,POINT (126.98745 37.50142)
7,국회의사당역,126.917821,37.528136,264548,1,POINT (126.91782 37.52814)
8,남부터미널역,127.016191,37.485185,338193,1,POINT (127.01619 37.48519)
9,남태령역,126.989081,37.464246,11631,1,POINT (126.98908 37.46425)
10,내방역,126.993578,37.487655,164486,1,POINT (126.99358 37.48765)
11,녹사평역,126.986536,37.534705,41359,1,POINT (126.98654 37.53470)
12,논현역,127.021649,37.511187,306368,1,POINT (127.02165 37.51119)
13,대모산입구역,127.073070,37.491543,21325,1,POINT (127.07307 37.49154)
14,대청역,127.079518,37.493701,59477,1,POINT (127.07952 37.49370)
15,대치역,127.063190,37.494486,72929,1,POINT (127.06319 37.49449)
16,도곡역,127.055498,37.490976,122123,1,POINT (127.05550 37.49098)
17,동작역,126.980299,37.502971,27456,1,POINT (126.98030 37.50297)
18,매봉역,127.046698,37.486925,144795,1,POINT (127.04670 37.48693)
19,반포역,127.011582,37.508143,54818,1,POINT (127.01158 37.50814)
20,방배역,126.997535,37.481456,172153,1,POINT (126.99754 37.48146)
21,봉은사역,127.060220,37.514237,210060,1,POINT (127.06022 37.51424)
22,사당역,126.981550,37.476553,289888,1,POINT (126.98155 37.47655)
23,사평역,127.015268,37.504233,18828,1,POINT (127.01527 37.50423)
24,삼성역,127.063021,37.508812,747736,1,POINT (127.06302 37.50881)
25,삼성중앙역,127.053026,37.512961,93110,1,POINT (127.05303 37.51296)
26,서초역,127.007644,37.491836,293178,1,POINT (127.00764 37.49184)
27,선릉역,127.048948,37.504494,955291,1,POINT (127.04895 37.50449)
28,선정릉역,127.043614,37.510929,259681,1,POINT (127.04361 37.51093)
29,수서역,127.104452,37.485284,250799,1,POINT (127.10445 37.48528)
30,신논현역,127.025469,37.504808,284968,1,POINT (127.02547 37.50481)
31,신반포역,126.996064,37.503495,25444,1,POINT (126.99606 37.50349)
32,신사역,127.020293,37.516431,360700,1,POINT (127.02029 37.51643)
33,압구정로데오역,127.040591,37.527509,245198,1,POINT (127.04059 37.52751)
34,압구정역,127.028486,37.526485,404105,1,POINT (127.02849 37.52648)
35,양재역,127.034146,37.484569,525430,1,POINT (127.03415 37.48457)
36,언주역,127.033953,37.507328,135254,1,POINT (127.03395 37.50733)
37,역삼역,127.036460,37.500660,819574,1,POINT (127.03646 37.50066)
38,이수역,126.982203,37.486789,100799,1,POINT (126.98220 37.48679)
39,이태원역,126.994320,37.534507,71948,1,POINT (126.99432 37.53451)
40,일원역,127.084121,37.483985,86940,1,POINT (127.08412 37.48399)
41,잠원역,127.011401,37.512883,28002,1,POINT (127.01140 37.51288)
42,청담역,127.053709,37.519448,337572,1,POINT (127.05371 37.51945)
43,총신대입구역,126.982203,37.486789,115109,1,POINT (126.98220 37.48679)
44,학동역,127.031897,37.514357,425175,1,POINT (127.03190 37.51436)
45,학여울역,127.071153,37.496878,21521,1,POINT (127.07115 37.49688)
46,한티역,127.052901,37.496275,129494,1,POINT (127.05290 37.49627)

In [115]:
gid_list = []
for i in tqdm(range(data1.shape[0])):
    point = data1['point'].iloc[i]
    if data_gid['geometry'].contains(point).sum() == 0:
        g1 = "Na"
    else :
        g = data_gid['gid'].loc[data_gid['geometry'].contains(point)]
        g1 = g.iloc[0]
    gid_list.append(g1)

100%|████████████████████████████████████████████| 47/47 [00:07<00:00,  5.96it/s]

In [116]:
data1['gid'] = gid_list
data1['TL_cnt']=1
data1

,역이름,경도,위도,아침총승객수,sub_cnt,point,gid,TL_cnt
0,강남구청역,127.041287,37.517201,401282,1,POINT (127.04129 37.51720),다사594465,1
1,강남역,127.027978,37.498085,928291,1,POINT (127.02798 37.49809),다사582444,1
2,개포동역,127.066103,37.489132,26798,1,POINT (127.06610 37.48913),다사616434,1
3,고속터미널역,127.005135,37.504540,508001,1,POINT (127.00513 37.50454),다사562451,1
4,교대역,127.013863,37.492736,531626,1,POINT (127.01386 37.49274),다사570438,1
5,구룡역,127.059475,37.487027,17886,1,POINT (127.05947 37.48703),다사610431,1
6,구반포역,126.987447,37.501422,19125,1,POINT (126.98745 37.50142),다사546448,1
7,국회의사당역,126.917821,37.528136,264548,1,POINT (126.91782 37.52814),Na,1
8,남부터미널역,127.016191,37.485185,338193,1,POINT (127.01619 37.48519),다사572429,1
9,남태령역,126.989081,37.464246,11631,1,POINT (126.98908 37.46425),다사548406,1
10,내방역,126.993578,37.487655,164486,1,POINT (126.99358 37.48765),다사552432,1
11,녹사평역,126.986536,37.534705,41359,1,POINT (126.98654 37.53470),Na,1
12,논현역,127.021649,37.511187,306368,1,POINT (127.02165 37.51119),다사577458,1
13,대모산입구역,127.073070,37.491543,21325,1,POINT (127.07307 37.49154),다사622436,1
14,대청역,127.079518,37.493701,59477,1,POINT (127.07952 37.49370),다사628439,1
15,대치역,127.063190,37.494486,72929,1,POINT (127.06319 37.49449),다사613440,1
16,도곡역,127.055498,37.490976,122123,1,POINT (127.05550 37.49098),다사607436,1
17,동작역,126.980299,37.502971,27456,1,POINT (126.98030 37.50297),다사540449,1
18,매봉역,127.046698,37.486925,144795,1,POINT (127.04670 37.48693),다사599431,1
19,반포역,127.011582,37.508143,54818,1,POINT (127.01158 37.50814),다사568455,1
20,방배역,126.997535,37.481456,172153,1,POINT (126.99754 37.48146),다사555425,1
21,봉은사역,127.060220,37.514237,210060,1,POINT (127.06022 37.51424),다사611461,1
22,사당역,126.981550,37.476553,289888,1,POINT (126.98155 37.47655),다사541420,1
23,사평역,127.015268,37.504233,18828,1,POINT (127.01527 37.50423),다사571451,1
24,삼성역,127.063021,37.508812,747736,1,POINT (127.06302 37.50881),다사613455,1
25,삼성중앙역,127.053026,37.512961,93110,1,POINT (127.05303 37.51296),다사604460,1
26,서초역,127.007644,37.491836,293178,1,POINT (127.00764 37.49184),다사564437,1
27,선릉역,127.048948,37.504494,955291,1,POINT (127.04895 37.50449),다사601451,1
28,선정릉역,127.043614,37.510929,259681,1,POINT (127.04361 37.51093),다사596458,1
29,수서역,127.104452,37.485284,250799,1,POINT (127.10445 37.48528),다사650429,1
30,신논현역,127.025469,37.504808,284968,1,POINT (127.02547 37.50481),다사580451,1
31,신반포역,126.996064,37.503495,25444,1,POINT (126.99606 37.50349),다사554450,1
32,신사역,127.020293,37.516431,360700,1,POINT (127.02029 37.51643),다사576464,1
33,압구정로데오역,127.040591,37.527509,245198,1,POINT (127.04059 37.52751),다사594476,1
34,압구정역,127.028486,37.526485,404105,1,POINT (127.02849 37.52648),다사583475,1
35,양재역,127.034146,37.484569,525430,1,POINT (127.03415 37.48457),다사588429,1
36,언주역,127.033953,37.507328,135254,1,POINT (127.03395 37.50733),다사588454,1
37,역삼역,127.036460,37.500660,819574,1,POINT (127.03646 37.50066),다사590447,1
38,이수역,126.982203,37.486789,100799,1,POINT (126.98220 37.48679),다사542431,1
39,이태원역,126.994320,37.534507,71948,1,POINT (126.99432 37.53451),Na,1
40,일원역,127.084121,37.483985,86940,1,POINT (127.08412 37.48399),다사632428,1
41,잠원역,127.011401,37.512883,28002,1,POINT (127.01140 37.51288),다사568460,1
42,청담역,127.053709,37.519448,337572,1,POINT (127.05371 37.51945),다사605467,1
43,총신대입구역,126.982203,37.486789,115109,1,POINT (126.98220 37.48679),다사542431,1
44,학동역,127.031897,37.514357,425175,1,POINT (127.03190 37.51436),다사586462,1
45,학여울역,127.071153,37.496878,21521,1,POINT (127.07115 37.49688),다사620442,1
46,한티역,127.052901,37.496275,129494,1,POINT (127.05290 37.49627),다사604442,1

In [117]:
data1 = data1[["gid","아침총승객수"]]
data1

         gid  아침총승객수
0   다사594465  401282
1   다사582444  928291
2   다사616434   26798
3   다사562451  508001
4   다사570438  531626
5   다사610431   17886
6   다사546448   19125
7         Na  264548
8   다사572429  338193
9   다사548406   11631
10  다사552432  164486
11        Na   41359
12  다사577458  306368
13  다사622436   21325
14  다사628439   59477
15  다사613440   72929
16  다사607436  122123
17  다사540449   27456
18  다사599431  144795
19  다사568455   54818
20  다사555425  172153
21  다사611461  210060
22  다사541420  289888
23  다사571451   18828
24  다사613455  747736
25  다사604460   93110
26  다사564437  293178
27  다사601451  955291
28  다사596458  259681
29  다사650429  250799
30  다사580451  284968
31  다사554450   25444
32  다사576464  360700
33  다사594476  245198
34  다사583475  404105
35  다사588429  525430
36  다사588454  135254
37  다사590447  819574
38  다사542431  100799
39        Na   71948
40  다사632428   86940
41  다사568460   28002
42  다사605467  337572
43  다사542431  115109
44  다사586462  425175
45  다사620442   21521
46  다사604442  129494

In [118]:
result1 = data1[['아침총승객수', 'gid']].groupby(['gid']).sum()

In [119]:
result1

          아침총승객수
gid
Na        377855
다사540449   27456
다사541420  289888
다사542431  215908
다사546448   19125
다사548406   11631
다사552432  164486
다사554450   25444
다사555425  172153
다사562451  508001
다사564437  293178
다사568455   54818
다사568460   28002
다사570438  531626
다사571451   18828
다사572429  338193
다사576464  360700
다사577458  306368
다사580451  284968
다사582444  928291
다사583475  404105
다사586462  425175
다사588429  525430
다사588454  135254
다사590447  819574
다사594465  401282
다사594476  245198
다사596458  259681
다사599431  144795
다사601451  955291
다사604442  129494
다사604460   93110
다사605467  337572
다사607436  122123
다사610431   17886
다사611461  210060
다사613440   72929
다사613455  747736
다사616434   26798
다사620442   21521
다사622436   21325
다사628439   59477
다사632428   86940
다사650429  250799

In [120]:
result1.reset_index(inplace=True)

In [121]:
result1 = result1.drop(index=0, axis=0)

In [122]:
result1

         gid  아침총승객수
1   다사540449   27456
2   다사541420  289888
3   다사542431  215908
4   다사546448   19125
5   다사548406   11631
6   다사552432  164486
7   다사554450   25444
8   다사555425  172153
9   다사562451  508001
10  다사564437  293178
11  다사568455   54818
12  다사568460   28002
13  다사570438  531626
14  다사571451   18828
15  다사572429  338193
16  다사576464  360700
17  다사577458  306368
18  다사580451  284968
19  다사582444  928291
20  다사583475  404105
21  다사586462  425175
22  다사588429  525430
23  다사588454  135254
24  다사590447  819574
25  다사594465  401282
26  다사594476  245198
27  다사596458  259681
28  다사599431  144795
29  다사601451  955291
30  다사604442  129494
31  다사604460   93110
32  다사605467  337572
33  다사607436  122123
34  다사610431   17886
35  다사611461  210060
36  다사613440   72929
37  다사613455  747736
38  다사616434   26798
39  다사620442   21521
40  다사622436   21325
41  다사628439   59477
42  다사632428   86940
43  다사650429  250799

In [123]:
result1.to_csv("output/그리드 전처리 완료/서초강남지하철아침하차.csv")

## 강남구서초구 지하철 승하차

In [124]:
data1 = pd.read_csv("output/서초강남지하철승하차.csv")

In [125]:
data1

,Unnamed: 0,Unnamed: 0.1,역이름,위도,경도,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,...,23시-24시 승차인원,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원
0,5,5,강남구청역,37.517201,127.041287,8,0,2319,2329,5879,...,5963,4919,31,720,0,0,0,0,0,0
1,6,6,강남역,37.498085,127.027978,85,6,5464,10853,15861,...,24062,12861,7,4,0,0,0,0,0,0
2,12,12,개포동역,37.489132,127.066103,2,0,687,1011,3267,...,650,2034,5,58,0,0,0,0,0,0
3,20,20,고속터미널역,37.504540,127.005135,162,8,7178,6966,14260,...,19976,14774,18,387,0,0,0,0,0,0
4,28,28,교대역,37.492736,127.013863,43,0,3120,7490,14922,...,9727,8907,2,38,0,1,0,1,0,0
5,31,31,구룡역,37.487027,127.059475,0,0,360,829,1312,...,170,936,8,27,0,0,0,0,0,0
6,32,32,구반포역,37.501422,126.987447,0,0,516,236,1717,...,376,1491,0,45,0,0,0,0,0,0
7,37,37,국회의사당역,37.528136,126.917821,3,0,607,1731,1777,...,2165,1061,0,0,0,0,0,0,0,0
8,48,48,남부터미널역,37.485185,127.016191,10,0,2452,1284,8012,...,4321,6529,4,28,1,3,1,0,0,0
9,51,51,남태령역,37.464246,126.989081,46,0,453,126,824,...,90,384,0,31,0,0,0,0,0,0
10,52,52,내방역,37.487655,126.993578,3,0,2310,1360,6570,...,2472,4088,5,1406,0,0,0,0,0,0
11,57,57,녹사평역,37.534705,126.986536,14,0,878,412,1844,...,1751,1703,1,88,0,0,0,0,0,0
12,59,59,논현역,37.511187,127.021649,5,0,1949,1307,4498,...,7625,4046,11,296,0,0,0,0,0,0
13,64,64,대모산입구역,37.491543,127.073070,2,0,1703,1262,3541,...,327,1680,3,81,0,0,0,0,0,0
14,66,66,대청역,37.493701,127.079518,55,0,3190,1020,10337,...,978,5743,0,64,0,0,0,0,0,0
15,67,67,대치역,37.494486,127.063190,6,0,2250,777,10589,...,2157,4227,0,8,0,0,0,0,0,0
16,69,69,도곡역,37.490976,127.055498,68,2,2054,1365,6886,...,1812,4104,22,1011,0,1,0,0,0,0
17,81,81,동작역,37.502971,126.980299,33,0,1627,499,2962,...,820,2322,5,954,0,0,0,0,0,0
18,97,97,매봉역,37.486925,127.046698,6,1,1326,459,6454,...,1461,3340,0,332,0,0,0,0,0,0
19,109,109,반포역,37.508143,127.011582,1,0,798,596,2738,...,1667,1425,11,108,0,1,0,0,0,0
20,111,111,방배역,37.481456,126.997535,3,0,2607,3446,9244,...,3362,6048,0,3,0,0,0,0,0,0
21,119,119,봉은사역,37.514237,127.060220,1,0,1474,1068,4719,...,2163,1904,0,1,0,0,0,0,0,0
22,126,126,사당역,37.476553,126.981550,275,29,21237,4055,47923,...,14109,36907,13,2702,0,0,0,0,0,0
23,127,127,사평역,37.504233,127.015268,2,0,777,173,2917,...,392,1603,2,1,0,0,0,0,0,0
24,129,129,삼성역,37.508812,127.063021,115,0,4105,4724,6837,...,6998,4382,1,1712,0,0,0,0,0,0
25,130,130,삼성중앙역,37.512961,127.053026,0,0,730,479,2091,...,1180,1701,1,7,0,0,0,0,0,0
26,149,149,서초역,37.491836,127.007644,25,0,1260,4502,8928,...,3614,3206,0,0,0,0,0,0,0,0
27,154,154,선릉역,37.504494,127.048948,46,3,4225,7383,11972,...,12482,8782,59,533,0,0,0,0,0,0
28,156,156,선정릉역,37.510929,127.043614,20,2,1977,2173,5620,...,3157,3706,16,343,0,1,0,0,0,0
29,166,166,수서역,37.485284,127.104452,330,7,7563,4573,18120,...,6909,11385,11,998,0,0,0,0,0,0
30,174,174,신논현역,37.504808,127.025469,31,1,2782,1739,12190,...,7760,7767,6,571,0,0,0,0,0,0
31,182,182,신반포역,37.503495,126.996064,0,0,368,806,1846,...,512,1393,0,11,0,0,0,0,0,0
32,184,184,신사역,37.516431,127.020293,35,4,2420,1467,5240,...,6107,3801,0,92,0,0,0,0,0,0
33,198,198,압구정로데오역,37.527509,127.040591,55,0,1187,724,3231,...,3363,1708,29,317,0,0,0,0,0,0
34,199,199,압구정역,37.526485,127.028486,49,3,2827,1977,7469,...,4803,3777,5,844,0,0,0,0,0,0
35,202,202,양재역,37.484569,127.034146,67,1,4876,2382,13042,...,4743,9860,5,740,0,0,0,1,0,0
36,207,207,언주역,37.507328,127.033953,4,0,1050,801,2419,...,1782,2655,1,110,0,0,0,0,0,0
37,210,210,역삼역,37.500660,127.036460,38,2,3075,7003,7618,...,10106,6425,0,1,0,0,0,0,0,0
38,239,239,이수역,37.486789,126.982203,52,0,4090,1042,8572,...,3972,6312,10,499,0,0,0,0,0,0
39,241,241,이태원역,37.534507,126.994320,4,0,2046,950,4345,...,3618,4329,1,414,0,0,0,0,0,0
40,242,242,일원역,37.483985,127.084121,3,0,2041,1367,7977,...,840,3473,2,37,0,0,0,1,0,0
41,246,246,잠원역,37.512883,127.011401,2,0,889,461,4546,...,585,2311,0,5,1,1,0,0,0,0
42,267,267,청담역,37.519448,127.053709,11,0,1987,3667,5986,...,4014,2725,4,1252,0,0,0,0,0,0
43,269,269,총신대입구역,37.486789,126.982203,75,2,5727,839,15463,...,2334,9272,1,46,0,0,0,0,0,0
44,274,274,학동역,37.514357,127.031897,3,0,1778,2439,4272,...,5617,2679,10,171,0,0,0,0,0,0
45,275,275,학여울역,37.496878,127.071153,1,0,539,286,1783,...,193,817,0,2,0,0,0,0,0,0
46,281,281,한티역,37.496275,127.052901,19,3,1911,1034,7008,...,3065,4300,59,231,0,0,0,0,0,0

In [126]:
data1 = data1[["역이름","경도","위도","17시-18시 승차인원","18시-19시 승차인원","19시-20시 승차인원","20시-21시 승차인원"]]

In [127]:
data1

,역이름,경도,위도,17시-18시 승차인원,18시-19시 승차인원,19시-20시 승차인원,20시-21시 승차인원
0,강남구청역,127.041287,37.517201,68935,135756,77117,45361
1,강남역,127.027978,37.498085,222349,335143,203119,152318
2,개포동역,127.066103,37.489132,9663,8903,5118,3648
3,고속터미널역,127.005135,37.504540,193091,200714,151307,159775
4,교대역,127.013863,37.492736,132478,211510,92518,68407
5,구룡역,127.059475,37.487027,6309,4607,1954,1086
6,구반포역,126.987447,37.501422,6318,8344,4660,3540
7,국회의사당역,126.917821,37.528136,56927,111107,34960,20476
8,남부터미널역,127.016191,37.485185,82185,135585,61578,40318
9,남태령역,126.989081,37.464246,3693,3851,1367,1230
10,내방역,126.993578,37.487655,35623,70219,24886,16603
11,녹사평역,126.986536,37.534705,13149,18232,10985,8793
12,논현역,127.021649,37.511187,55095,106779,58995,35662
13,대모산입구역,127.073070,37.491543,10570,8283,3135,1984
14,대청역,127.079518,37.493701,21164,25864,10155,6955
15,대치역,127.063190,37.494486,23316,27009,17604,11952
16,도곡역,127.055498,37.490976,35841,39786,20572,13256
17,동작역,126.980299,37.502971,10599,11574,5666,4224
18,매봉역,127.046698,37.486925,34762,64548,23786,14148
19,반포역,127.011582,37.508143,15261,17248,11677,8590
20,방배역,126.997535,37.481456,43034,68715,27596,19578
21,봉은사역,127.060220,37.514237,51885,83354,40579,26413
22,사당역,126.981550,37.476553,100989,130748,83666,72167
23,사평역,127.015268,37.504233,6502,6897,4086,2622
24,삼성역,127.063021,37.508812,171805,280986,144261,98535
25,삼성중앙역,127.053026,37.512961,21086,37443,15767,9081
26,서초역,127.007644,37.491836,68076,103262,42410,25840
27,선릉역,127.048948,37.504494,208563,356405,167167,101630
28,선정릉역,127.043614,37.510929,48600,96882,51767,25048
29,수서역,127.104452,37.485284,74188,91384,40664,39625
30,신논현역,127.025469,37.504808,73748,107131,76376,55307
31,신반포역,126.996064,37.503495,10322,8889,5081,3468
32,신사역,127.020293,37.516431,84284,135887,93050,59376
33,압구정로데오역,127.040591,37.527509,56617,83310,62562,50179
34,압구정역,127.028486,37.526485,87196,129862,93332,69986
35,양재역,127.034146,37.484569,121602,201266,88697,56754
36,언주역,127.033953,37.507328,32560,51667,23515,12925
37,역삼역,127.036460,37.500660,181514,279053,137375,75214
38,이수역,126.982203,37.486789,29026,43095,23394,21317
39,이태원역,126.994320,37.534507,25196,29296,20974,18383
40,일원역,127.084121,37.483985,31861,16791,8658,5671
41,잠원역,127.011401,37.512883,10273,10110,6418,4256
42,청담역,127.053709,37.519448,60125,109758,56399,31124
43,총신대입구역,126.982203,37.486789,34054,42340,25454,21114
44,학동역,127.031897,37.514357,69856,165498,74654,36578
45,학여울역,127.071153,37.496878,7139,6960,3112,1831
46,한티역,127.052901,37.496275,34325,42359,27005,28092

In [128]:
data1["저녁총승객수"] = data1["17시-18시 승차인원"] + data1["18시-19시 승차인원"]+ data1["19시-20시 승차인원"]+ data1["20시-21시 승차인원"]

<ipython-input-128-de5ba79b3c75>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1["저녁총승객수"] = data1["17시-18시 승차인원"] + data1["18시-19시 승차인원"]+ data1["19시-20시 승차인원"]+ data1["20시-21시 승차인원"]

In [129]:
data1 = data1[["역이름","경도","위도","저녁총승객수"]]
data1

        역이름          경도         위도  저녁총승객수
0     강남구청역  127.041287  37.517201  327169
1       강남역  127.027978  37.498085  912929
2      개포동역  127.066103  37.489132   27332
3    고속터미널역  127.005135  37.504540  704887
4       교대역  127.013863  37.492736  504913
5       구룡역  127.059475  37.487027   13956
6      구반포역  126.987447  37.501422   22862
7    국회의사당역  126.917821  37.528136  223470
8    남부터미널역  127.016191  37.485185  319666
9      남태령역  126.989081  37.464246   10141
10      내방역  126.993578  37.487655  147331
11     녹사평역  126.986536  37.534705   51159
12      논현역  127.021649  37.511187  256531
13   대모산입구역  127.073070  37.491543   23972
14      대청역  127.079518  37.493701   64138
15      대치역  127.063190  37.494486   79881
16      도곡역  127.055498  37.490976  109455
17      동작역  126.980299  37.502971   32063
18      매봉역  127.046698  37.486925  137244
19      반포역  127.011582  37.508143   52776
20      방배역  126.997535  37.481456  158923
21     봉은사역  127.060220  37.514237  202231
22      사당역  126.981550  37.476553  387570
23      사평역  127.015268  37.504233   20107
24      삼성역  127.063021  37.508812  695587
25    삼성중앙역  127.053026  37.512961   83377
26      서초역  127.007644  37.491836  239588
27      선릉역  127.048948  37.504494  833765
28     선정릉역  127.043614  37.510929  222297
29      수서역  127.104452  37.485284  245861
30     신논현역  127.025469  37.504808  312562
31     신반포역  126.996064  37.503495   27760
32      신사역  127.020293  37.516431  372597
33  압구정로데오역  127.040591  37.527509  252668
34     압구정역  127.028486  37.526485  380376
35      양재역  127.034146  37.484569  468319
36      언주역  127.033953  37.507328  120667
37      역삼역  127.036460  37.500660  673156
38      이수역  126.982203  37.486789  116832
39     이태원역  126.994320  37.534507   93849
40      일원역  127.084121  37.483985   62981
41      잠원역  127.011401  37.512883   31057
42      청담역  127.053709  37.519448  257406
43   총신대입구역  126.982203  37.486789  122962
44      학동역  127.031897  37.514357  346586
45     학여울역  127.071153  37.496878   19042
46      한티역  127.052901  37.496275  131781

In [130]:
data1['sub_cnt']=1
data1['경도'] = data1['경도'].astype(float)
data1['위도'] = data1['위도'].astype(float)
data1['point'] = data1.apply(lambda row : Point([row['경도'], row['위도']]), axis=1)
data1 = gpd.GeoDataFrame(data1, geometry='point')

<ipython-input-130-19edd474c248>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['sub_cnt']=1
<ipython-input-130-19edd474c248>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['경도'] = data1['경도'].astype(float)
<ipython-input-130-19edd474c248>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['위도'] = data1['위도'].astype(float)
<ipython-input-130-19edd474c248>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['point'] = data1.apply(lambda row : Point([row['경도'], row['위도']]), axis=1)

In [131]:
data1

,역이름,경도,위도,저녁총승객수,sub_cnt,point
0,강남구청역,127.041287,37.517201,327169,1,POINT (127.04129 37.51720)
1,강남역,127.027978,37.498085,912929,1,POINT (127.02798 37.49809)
2,개포동역,127.066103,37.489132,27332,1,POINT (127.06610 37.48913)
3,고속터미널역,127.005135,37.504540,704887,1,POINT (127.00513 37.50454)
4,교대역,127.013863,37.492736,504913,1,POINT (127.01386 37.49274)
5,구룡역,127.059475,37.487027,13956,1,POINT (127.05947 37.48703)
6,구반포역,126.987447,37.501422,22862,1,POINT (126.98745 37.50142)
7,국회의사당역,126.917821,37.528136,223470,1,POINT (126.91782 37.52814)
8,남부터미널역,127.016191,37.485185,319666,1,POINT (127.01619 37.48519)
9,남태령역,126.989081,37.464246,10141,1,POINT (126.98908 37.46425)
10,내방역,126.993578,37.487655,147331,1,POINT (126.99358 37.48765)
11,녹사평역,126.986536,37.534705,51159,1,POINT (126.98654 37.53470)
12,논현역,127.021649,37.511187,256531,1,POINT (127.02165 37.51119)
13,대모산입구역,127.073070,37.491543,23972,1,POINT (127.07307 37.49154)
14,대청역,127.079518,37.493701,64138,1,POINT (127.07952 37.49370)
15,대치역,127.063190,37.494486,79881,1,POINT (127.06319 37.49449)
16,도곡역,127.055498,37.490976,109455,1,POINT (127.05550 37.49098)
17,동작역,126.980299,37.502971,32063,1,POINT (126.98030 37.50297)
18,매봉역,127.046698,37.486925,137244,1,POINT (127.04670 37.48693)
19,반포역,127.011582,37.508143,52776,1,POINT (127.01158 37.50814)
20,방배역,126.997535,37.481456,158923,1,POINT (126.99754 37.48146)
21,봉은사역,127.060220,37.514237,202231,1,POINT (127.06022 37.51424)
22,사당역,126.981550,37.476553,387570,1,POINT (126.98155 37.47655)
23,사평역,127.015268,37.504233,20107,1,POINT (127.01527 37.50423)
24,삼성역,127.063021,37.508812,695587,1,POINT (127.06302 37.50881)
25,삼성중앙역,127.053026,37.512961,83377,1,POINT (127.05303 37.51296)
26,서초역,127.007644,37.491836,239588,1,POINT (127.00764 37.49184)
27,선릉역,127.048948,37.504494,833765,1,POINT (127.04895 37.50449)
28,선정릉역,127.043614,37.510929,222297,1,POINT (127.04361 37.51093)
29,수서역,127.104452,37.485284,245861,1,POINT (127.10445 37.48528)
30,신논현역,127.025469,37.504808,312562,1,POINT (127.02547 37.50481)
31,신반포역,126.996064,37.503495,27760,1,POINT (126.99606 37.50349)
32,신사역,127.020293,37.516431,372597,1,POINT (127.02029 37.51643)
33,압구정로데오역,127.040591,37.527509,252668,1,POINT (127.04059 37.52751)
34,압구정역,127.028486,37.526485,380376,1,POINT (127.02849 37.52648)
35,양재역,127.034146,37.484569,468319,1,POINT (127.03415 37.48457)
36,언주역,127.033953,37.507328,120667,1,POINT (127.03395 37.50733)
37,역삼역,127.036460,37.500660,673156,1,POINT (127.03646 37.50066)
38,이수역,126.982203,37.486789,116832,1,POINT (126.98220 37.48679)
39,이태원역,126.994320,37.534507,93849,1,POINT (126.99432 37.53451)
40,일원역,127.084121,37.483985,62981,1,POINT (127.08412 37.48399)
41,잠원역,127.011401,37.512883,31057,1,POINT (127.01140 37.51288)
42,청담역,127.053709,37.519448,257406,1,POINT (127.05371 37.51945)
43,총신대입구역,126.982203,37.486789,122962,1,POINT (126.98220 37.48679)
44,학동역,127.031897,37.514357,346586,1,POINT (127.03190 37.51436)
45,학여울역,127.071153,37.496878,19042,1,POINT (127.07115 37.49688)
46,한티역,127.052901,37.496275,131781,1,POINT (127.05290 37.49627)

In [132]:
gid_list = []
for i in tqdm(range(data1.shape[0])):
    point = data1['point'].iloc[i]
    if data_gid['geometry'].contains(point).sum() == 0:
        g1 = "Na"
    else :
        g = data_gid['gid'].loc[data_gid['geometry'].contains(point)]
        g1 = g.iloc[0]
    gid_list.append(g1)

100%|████████████████████████████████████████████| 47/47 [00:05<00:00,  8.26it/s]

In [133]:
data1['gid'] = gid_list
data1['TL_cnt']=1
data1

,역이름,경도,위도,저녁총승객수,sub_cnt,point,gid,TL_cnt
0,강남구청역,127.041287,37.517201,327169,1,POINT (127.04129 37.51720),다사594465,1
1,강남역,127.027978,37.498085,912929,1,POINT (127.02798 37.49809),다사582444,1
2,개포동역,127.066103,37.489132,27332,1,POINT (127.06610 37.48913),다사616434,1
3,고속터미널역,127.005135,37.504540,704887,1,POINT (127.00513 37.50454),다사562451,1
4,교대역,127.013863,37.492736,504913,1,POINT (127.01386 37.49274),다사570438,1
5,구룡역,127.059475,37.487027,13956,1,POINT (127.05947 37.48703),다사610431,1
6,구반포역,126.987447,37.501422,22862,1,POINT (126.98745 37.50142),다사546448,1
7,국회의사당역,126.917821,37.528136,223470,1,POINT (126.91782 37.52814),Na,1
8,남부터미널역,127.016191,37.485185,319666,1,POINT (127.01619 37.48519),다사572429,1
9,남태령역,126.989081,37.464246,10141,1,POINT (126.98908 37.46425),다사548406,1
10,내방역,126.993578,37.487655,147331,1,POINT (126.99358 37.48765),다사552432,1
11,녹사평역,126.986536,37.534705,51159,1,POINT (126.98654 37.53470),Na,1
12,논현역,127.021649,37.511187,256531,1,POINT (127.02165 37.51119),다사577458,1
13,대모산입구역,127.073070,37.491543,23972,1,POINT (127.07307 37.49154),다사622436,1
14,대청역,127.079518,37.493701,64138,1,POINT (127.07952 37.49370),다사628439,1
15,대치역,127.063190,37.494486,79881,1,POINT (127.06319 37.49449),다사613440,1
16,도곡역,127.055498,37.490976,109455,1,POINT (127.05550 37.49098),다사607436,1
17,동작역,126.980299,37.502971,32063,1,POINT (126.98030 37.50297),다사540449,1
18,매봉역,127.046698,37.486925,137244,1,POINT (127.04670 37.48693),다사599431,1
19,반포역,127.011582,37.508143,52776,1,POINT (127.01158 37.50814),다사568455,1
20,방배역,126.997535,37.481456,158923,1,POINT (126.99754 37.48146),다사555425,1
21,봉은사역,127.060220,37.514237,202231,1,POINT (127.06022 37.51424),다사611461,1
22,사당역,126.981550,37.476553,387570,1,POINT (126.98155 37.47655),다사541420,1
23,사평역,127.015268,37.504233,20107,1,POINT (127.01527 37.50423),다사571451,1
24,삼성역,127.063021,37.508812,695587,1,POINT (127.06302 37.50881),다사613455,1
25,삼성중앙역,127.053026,37.512961,83377,1,POINT (127.05303 37.51296),다사604460,1
26,서초역,127.007644,37.491836,239588,1,POINT (127.00764 37.49184),다사564437,1
27,선릉역,127.048948,37.504494,833765,1,POINT (127.04895 37.50449),다사601451,1
28,선정릉역,127.043614,37.510929,222297,1,POINT (127.04361 37.51093),다사596458,1
29,수서역,127.104452,37.485284,245861,1,POINT (127.10445 37.48528),다사650429,1
30,신논현역,127.025469,37.504808,312562,1,POINT (127.02547 37.50481),다사580451,1
31,신반포역,126.996064,37.503495,27760,1,POINT (126.99606 37.50349),다사554450,1
32,신사역,127.020293,37.516431,372597,1,POINT (127.02029 37.51643),다사576464,1
33,압구정로데오역,127.040591,37.527509,252668,1,POINT (127.04059 37.52751),다사594476,1
34,압구정역,127.028486,37.526485,380376,1,POINT (127.02849 37.52648),다사583475,1
35,양재역,127.034146,37.484569,468319,1,POINT (127.03415 37.48457),다사588429,1
36,언주역,127.033953,37.507328,120667,1,POINT (127.03395 37.50733),다사588454,1
37,역삼역,127.036460,37.500660,673156,1,POINT (127.03646 37.50066),다사590447,1
38,이수역,126.982203,37.486789,116832,1,POINT (126.98220 37.48679),다사542431,1
39,이태원역,126.994320,37.534507,93849,1,POINT (126.99432 37.53451),Na,1
40,일원역,127.084121,37.483985,62981,1,POINT (127.08412 37.48399),다사632428,1
41,잠원역,127.011401,37.512883,31057,1,POINT (127.01140 37.51288),다사568460,1
42,청담역,127.053709,37.519448,257406,1,POINT (127.05371 37.51945),다사605467,1
43,총신대입구역,126.982203,37.486789,122962,1,POINT (126.98220 37.48679),다사542431,1
44,학동역,127.031897,37.514357,346586,1,POINT (127.03190 37.51436),다사586462,1
45,학여울역,127.071153,37.496878,19042,1,POINT (127.07115 37.49688),다사620442,1
46,한티역,127.052901,37.496275,131781,1,POINT (127.05290 37.49627),다사604442,1

In [134]:
data1 = data1[["gid","저녁총승객수"]]
data1

         gid  저녁총승객수
0   다사594465  327169
1   다사582444  912929
2   다사616434   27332
3   다사562451  704887
4   다사570438  504913
5   다사610431   13956
6   다사546448   22862
7         Na  223470
8   다사572429  319666
9   다사548406   10141
10  다사552432  147331
11        Na   51159
12  다사577458  256531
13  다사622436   23972
14  다사628439   64138
15  다사613440   79881
16  다사607436  109455
17  다사540449   32063
18  다사599431  137244
19  다사568455   52776
20  다사555425  158923
21  다사611461  202231
22  다사541420  387570
23  다사571451   20107
24  다사613455  695587
25  다사604460   83377
26  다사564437  239588
27  다사601451  833765
28  다사596458  222297
29  다사650429  245861
30  다사580451  312562
31  다사554450   27760
32  다사576464  372597
33  다사594476  252668
34  다사583475  380376
35  다사588429  468319
36  다사588454  120667
37  다사590447  673156
38  다사542431  116832
39        Na   93849
40  다사632428   62981
41  다사568460   31057
42  다사605467  257406
43  다사542431  122962
44  다사586462  346586
45  다사620442   19042
46  다사604442  131781

In [135]:
result1 = data1[['저녁총승객수', 'gid']].groupby(['gid']).sum()

In [136]:
result1

          저녁총승객수
gid
Na        368478
다사540449   32063
다사541420  387570
다사542431  239794
다사546448   22862
다사548406   10141
다사552432  147331
다사554450   27760
다사555425  158923
다사562451  704887
다사564437  239588
다사568455   52776
다사568460   31057
다사570438  504913
다사571451   20107
다사572429  319666
다사576464  372597
다사577458  256531
다사580451  312562
다사582444  912929
다사583475  380376
다사586462  346586
다사588429  468319
다사588454  120667
다사590447  673156
다사594465  327169
다사594476  252668
다사596458  222297
다사599431  137244
다사601451  833765
다사604442  131781
다사604460   83377
다사605467  257406
다사607436  109455
다사610431   13956
다사611461  202231
다사613440   79881
다사613455  695587
다사616434   27332
다사620442   19042
다사622436   23972
다사628439   64138
다사632428   62981
다사650429  245861

In [137]:
result1.reset_index(inplace=True)

In [138]:
result1 = result1.drop(index=0, axis=0)

In [139]:
result1

         gid  저녁총승객수
1   다사540449   32063
2   다사541420  387570
3   다사542431  239794
4   다사546448   22862
5   다사548406   10141
6   다사552432  147331
7   다사554450   27760
8   다사555425  158923
9   다사562451  704887
10  다사564437  239588
11  다사568455   52776
12  다사568460   31057
13  다사570438  504913
14  다사571451   20107
15  다사572429  319666
16  다사576464  372597
17  다사577458  256531
18  다사580451  312562
19  다사582444  912929
20  다사583475  380376
21  다사586462  346586
22  다사588429  468319
23  다사588454  120667
24  다사590447  673156
25  다사594465  327169
26  다사594476  252668
27  다사596458  222297
28  다사599431  137244
29  다사601451  833765
30  다사604442  131781
31  다사604460   83377
32  다사605467  257406
33  다사607436  109455
34  다사610431   13956
35  다사611461  202231
36  다사613440   79881
37  다사613455  695587
38  다사616434   27332
39  다사620442   19042
40  다사622436   23972
41  다사628439   64138
42  다사632428   62981
43  다사650429  245861

In [140]:
result1.to_csv("output/그리드 전처리 완료/서초강남지하철저녁승차.csv")

## 강남구서초구 지하철 승하차

In [141]:
data1 = pd.read_csv("output/서초강남지하철승하차.csv")

In [142]:
data1

,Unnamed: 0,Unnamed: 0.1,역이름,위도,경도,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,...,23시-24시 승차인원,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원
0,5,5,강남구청역,37.517201,127.041287,8,0,2319,2329,5879,...,5963,4919,31,720,0,0,0,0,0,0
1,6,6,강남역,37.498085,127.027978,85,6,5464,10853,15861,...,24062,12861,7,4,0,0,0,0,0,0
2,12,12,개포동역,37.489132,127.066103,2,0,687,1011,3267,...,650,2034,5,58,0,0,0,0,0,0
3,20,20,고속터미널역,37.504540,127.005135,162,8,7178,6966,14260,...,19976,14774,18,387,0,0,0,0,0,0
4,28,28,교대역,37.492736,127.013863,43,0,3120,7490,14922,...,9727,8907,2,38,0,1,0,1,0,0
5,31,31,구룡역,37.487027,127.059475,0,0,360,829,1312,...,170,936,8,27,0,0,0,0,0,0
6,32,32,구반포역,37.501422,126.987447,0,0,516,236,1717,...,376,1491,0,45,0,0,0,0,0,0
7,37,37,국회의사당역,37.528136,126.917821,3,0,607,1731,1777,...,2165,1061,0,0,0,0,0,0,0,0
8,48,48,남부터미널역,37.485185,127.016191,10,0,2452,1284,8012,...,4321,6529,4,28,1,3,1,0,0,0
9,51,51,남태령역,37.464246,126.989081,46,0,453,126,824,...,90,384,0,31,0,0,0,0,0,0
10,52,52,내방역,37.487655,126.993578,3,0,2310,1360,6570,...,2472,4088,5,1406,0,0,0,0,0,0
11,57,57,녹사평역,37.534705,126.986536,14,0,878,412,1844,...,1751,1703,1,88,0,0,0,0,0,0
12,59,59,논현역,37.511187,127.021649,5,0,1949,1307,4498,...,7625,4046,11,296,0,0,0,0,0,0
13,64,64,대모산입구역,37.491543,127.073070,2,0,1703,1262,3541,...,327,1680,3,81,0,0,0,0,0,0
14,66,66,대청역,37.493701,127.079518,55,0,3190,1020,10337,...,978,5743,0,64,0,0,0,0,0,0
15,67,67,대치역,37.494486,127.063190,6,0,2250,777,10589,...,2157,4227,0,8,0,0,0,0,0,0
16,69,69,도곡역,37.490976,127.055498,68,2,2054,1365,6886,...,1812,4104,22,1011,0,1,0,0,0,0
17,81,81,동작역,37.502971,126.980299,33,0,1627,499,2962,...,820,2322,5,954,0,0,0,0,0,0
18,97,97,매봉역,37.486925,127.046698,6,1,1326,459,6454,...,1461,3340,0,332,0,0,0,0,0,0
19,109,109,반포역,37.508143,127.011582,1,0,798,596,2738,...,1667,1425,11,108,0,1,0,0,0,0
20,111,111,방배역,37.481456,126.997535,3,0,2607,3446,9244,...,3362,6048,0,3,0,0,0,0,0,0
21,119,119,봉은사역,37.514237,127.060220,1,0,1474,1068,4719,...,2163,1904,0,1,0,0,0,0,0,0
22,126,126,사당역,37.476553,126.981550,275,29,21237,4055,47923,...,14109,36907,13,2702,0,0,0,0,0,0
23,127,127,사평역,37.504233,127.015268,2,0,777,173,2917,...,392,1603,2,1,0,0,0,0,0,0
24,129,129,삼성역,37.508812,127.063021,115,0,4105,4724,6837,...,6998,4382,1,1712,0,0,0,0,0,0
25,130,130,삼성중앙역,37.512961,127.053026,0,0,730,479,2091,...,1180,1701,1,7,0,0,0,0,0,0
26,149,149,서초역,37.491836,127.007644,25,0,1260,4502,8928,...,3614,3206,0,0,0,0,0,0,0,0
27,154,154,선릉역,37.504494,127.048948,46,3,4225,7383,11972,...,12482,8782,59,533,0,0,0,0,0,0
28,156,156,선정릉역,37.510929,127.043614,20,2,1977,2173,5620,...,3157,3706,16,343,0,1,0,0,0,0
29,166,166,수서역,37.485284,127.104452,330,7,7563,4573,18120,...,6909,11385,11,998,0,0,0,0,0,0
30,174,174,신논현역,37.504808,127.025469,31,1,2782,1739,12190,...,7760,7767,6,571,0,0,0,0,0,0
31,182,182,신반포역,37.503495,126.996064,0,0,368,806,1846,...,512,1393,0,11,0,0,0,0,0,0
32,184,184,신사역,37.516431,127.020293,35,4,2420,1467,5240,...,6107,3801,0,92,0,0,0,0,0,0
33,198,198,압구정로데오역,37.527509,127.040591,55,0,1187,724,3231,...,3363,1708,29,317,0,0,0,0,0,0
34,199,199,압구정역,37.526485,127.028486,49,3,2827,1977,7469,...,4803,3777,5,844,0,0,0,0,0,0
35,202,202,양재역,37.484569,127.034146,67,1,4876,2382,13042,...,4743,9860,5,740,0,0,0,1,0,0
36,207,207,언주역,37.507328,127.033953,4,0,1050,801,2419,...,1782,2655,1,110,0,0,0,0,0,0
37,210,210,역삼역,37.500660,127.036460,38,2,3075,7003,7618,...,10106,6425,0,1,0,0,0,0,0,0
38,239,239,이수역,37.486789,126.982203,52,0,4090,1042,8572,...,3972,6312,10,499,0,0,0,0,0,0
39,241,241,이태원역,37.534507,126.994320,4,0,2046,950,4345,...,3618,4329,1,414,0,0,0,0,0,0
40,242,242,일원역,37.483985,127.084121,3,0,2041,1367,7977,...,840,3473,2,37,0,0,0,1,0,0
41,246,246,잠원역,37.512883,127.011401,2,0,889,461,4546,...,585,2311,0,5,1,1,0,0,0,0
42,267,267,청담역,37.519448,127.053709,11,0,1987,3667,5986,...,4014,2725,4,1252,0,0,0,0,0,0
43,269,269,총신대입구역,37.486789,126.982203,75,2,5727,839,15463,...,2334,9272,1,46,0,0,0,0,0,0
44,274,274,학동역,37.514357,127.031897,3,0,1778,2439,4272,...,5617,2679,10,171,0,0,0,0,0,0
45,275,275,학여울역,37.496878,127.071153,1,0,539,286,1783,...,193,817,0,2,0,0,0,0,0,0
46,281,281,한티역,37.496275,127.052901,19,3,1911,1034,7008,...,3065,4300,59,231,0,0,0,0,0,0

In [143]:
data1 = data1[["역이름","경도","위도","18시-19시 하차인원","19시-20시 하차인원","20시-21시 하차인원","21시-22시 하차인원"]]

In [144]:
data1

,역이름,경도,위도,18시-19시 하차인원,19시-20시 하차인원,20시-21시 하차인원,21시-22시 하차인원
0,강남구청역,127.041287,37.517201,40317,24792,14116,11616
1,강남역,127.027978,37.498085,173742,99700,42059,33576
2,개포동역,127.066103,37.489132,9824,8369,4658,4244
3,고속터미널역,127.005135,37.504540,166223,104490,61196,49163
4,교대역,127.013863,37.492736,82205,48258,25356,22135
5,구룡역,127.059475,37.487027,3513,2783,1794,1595
6,구반포역,126.987447,37.501422,7631,5255,2721,2528
7,국회의사당역,126.917821,37.528136,10244,6678,3303,2963
8,남부터미널역,127.016191,37.485185,55942,35998,20899,16390
9,남태령역,126.989081,37.464246,1823,1555,981,907
10,내방역,126.993578,37.487655,28310,19765,11134,9877
11,녹사평역,126.986536,37.534705,13589,8805,4700,3764
12,논현역,127.021649,37.511187,33800,19286,9911,8106
13,대모산입구역,127.073070,37.491543,6813,6022,3735,3389
14,대청역,127.079518,37.493701,25068,21306,13194,11915
15,대치역,127.063190,37.494486,26242,21527,11436,9897
16,도곡역,127.055498,37.490976,23797,19159,11006,9885
17,동작역,126.980299,37.502971,12601,8402,5287,4974
18,매봉역,127.046698,37.486925,23138,15399,8695,7053
19,반포역,127.011582,37.508143,10700,7000,4239,3793
20,방배역,126.997535,37.481456,37548,26750,16453,16083
21,봉은사역,127.060220,37.514237,19115,12342,6619,6003
22,사당역,126.981550,37.476553,230369,156677,88699,82073
23,사평역,127.015268,37.504233,9569,7624,3977,3813
24,삼성역,127.063021,37.508812,52843,28651,14651,12295
25,삼성중앙역,127.053026,37.512961,10906,7109,4245,3592
26,서초역,127.007644,37.491836,22025,14694,8999,8370
27,선릉역,127.048948,37.504494,77170,45506,23594,20953
28,선정릉역,127.043614,37.510929,24586,17017,10217,9824
29,수서역,127.104452,37.485284,83513,62871,39480,33117
30,신논현역,127.025469,37.504808,89588,51739,23870,19982
31,신반포역,126.996064,37.503495,7799,5253,2858,2792
32,신사역,127.020293,37.516431,66628,33281,12626,9289
33,압구정로데오역,127.040591,37.527509,42941,21694,7062,4583
34,압구정역,127.028486,37.526485,55275,30415,13987,10463
35,양재역,127.034146,37.484569,72799,48225,28751,25197
36,언주역,127.033953,37.507328,12798,9538,5598,5166
37,역삼역,127.036460,37.500660,51224,31953,17380,14512
38,이수역,126.982203,37.486789,51967,34097,17869,15495
39,이태원역,126.994320,37.534507,30335,21682,10927,7955
40,일원역,127.084121,37.483985,18286,15603,9359,9217
41,잠원역,127.011401,37.512883,14540,10247,6060,5852
42,청담역,127.053709,37.519448,19262,12766,8168,7744
43,총신대입구역,126.982203,37.486789,73316,48034,26174,21956
44,학동역,127.031897,37.514357,18876,11814,7097,6457
45,학여울역,127.071153,37.496878,4395,3140,2007,1693
46,한티역,127.052901,37.496275,32604,23379,12170,10816

In [145]:
data1["저녁총승객수"] = data1["18시-19시 하차인원"] + data1["19시-20시 하차인원"]+ data1["20시-21시 하차인원"]+ data1["21시-22시 하차인원"]

<ipython-input-145-674c835c6ca8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1["저녁총승객수"] = data1["18시-19시 하차인원"] + data1["19시-20시 하차인원"]+ data1["20시-21시 하차인원"]+ data1["21시-22시 하차인원"]

In [146]:
data1 = data1[["역이름","경도","위도","저녁총승객수"]]
data1

        역이름          경도         위도  저녁총승객수
0     강남구청역  127.041287  37.517201   90841
1       강남역  127.027978  37.498085  349077
2      개포동역  127.066103  37.489132   27095
3    고속터미널역  127.005135  37.504540  381072
4       교대역  127.013863  37.492736  177954
5       구룡역  127.059475  37.487027    9685
6      구반포역  126.987447  37.501422   18135
7    국회의사당역  126.917821  37.528136   23188
8    남부터미널역  127.016191  37.485185  129229
9      남태령역  126.989081  37.464246    5266
10      내방역  126.993578  37.487655   69086
11     녹사평역  126.986536  37.534705   30858
12      논현역  127.021649  37.511187   71103
13   대모산입구역  127.073070  37.491543   19959
14      대청역  127.079518  37.493701   71483
15      대치역  127.063190  37.494486   69102
16      도곡역  127.055498  37.490976   63847
17      동작역  126.980299  37.502971   31264
18      매봉역  127.046698  37.486925   54285
19      반포역  127.011582  37.508143   25732
20      방배역  126.997535  37.481456   96834
21     봉은사역  127.060220  37.514237   44079
22      사당역  126.981550  37.476553  557818
23      사평역  127.015268  37.504233   24983
24      삼성역  127.063021  37.508812  108440
25    삼성중앙역  127.053026  37.512961   25852
26      서초역  127.007644  37.491836   54088
27      선릉역  127.048948  37.504494  167223
28     선정릉역  127.043614  37.510929   61644
29      수서역  127.104452  37.485284  218981
30     신논현역  127.025469  37.504808  185179
31     신반포역  126.996064  37.503495   18702
32      신사역  127.020293  37.516431  121824
33  압구정로데오역  127.040591  37.527509   76280
34     압구정역  127.028486  37.526485  110140
35      양재역  127.034146  37.484569  174972
36      언주역  127.033953  37.507328   33100
37      역삼역  127.036460  37.500660  115069
38      이수역  126.982203  37.486789  119428
39     이태원역  126.994320  37.534507   70899
40      일원역  127.084121  37.483985   52465
41      잠원역  127.011401  37.512883   36699
42      청담역  127.053709  37.519448   47940
43   총신대입구역  126.982203  37.486789  169480
44      학동역  127.031897  37.514357   44244
45     학여울역  127.071153  37.496878   11235
46      한티역  127.052901  37.496275   78969

In [147]:
data1['sub_cnt']=1
data1['경도'] = data1['경도'].astype(float)
data1['위도'] = data1['위도'].astype(float)
data1['point'] = data1.apply(lambda row : Point([row['경도'], row['위도']]), axis=1)
data1 = gpd.GeoDataFrame(data1, geometry='point')

<ipython-input-147-19edd474c248>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['sub_cnt']=1
<ipython-input-147-19edd474c248>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['경도'] = data1['경도'].astype(float)
<ipython-input-147-19edd474c248>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['위도'] = data1['위도'].astype(float)
<ipython-input-147-19edd474c248>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['point'] = data1.apply(lambda row : Point([row['경도'], row['위도']]), axis=1)

In [148]:
data1

,역이름,경도,위도,저녁총승객수,sub_cnt,point
0,강남구청역,127.041287,37.517201,90841,1,POINT (127.04129 37.51720)
1,강남역,127.027978,37.498085,349077,1,POINT (127.02798 37.49809)
2,개포동역,127.066103,37.489132,27095,1,POINT (127.06610 37.48913)
3,고속터미널역,127.005135,37.504540,381072,1,POINT (127.00513 37.50454)
4,교대역,127.013863,37.492736,177954,1,POINT (127.01386 37.49274)
5,구룡역,127.059475,37.487027,9685,1,POINT (127.05947 37.48703)
6,구반포역,126.987447,37.501422,18135,1,POINT (126.98745 37.50142)
7,국회의사당역,126.917821,37.528136,23188,1,POINT (126.91782 37.52814)
8,남부터미널역,127.016191,37.485185,129229,1,POINT (127.01619 37.48519)
9,남태령역,126.989081,37.464246,5266,1,POINT (126.98908 37.46425)
10,내방역,126.993578,37.487655,69086,1,POINT (126.99358 37.48765)
11,녹사평역,126.986536,37.534705,30858,1,POINT (126.98654 37.53470)
12,논현역,127.021649,37.511187,71103,1,POINT (127.02165 37.51119)
13,대모산입구역,127.073070,37.491543,19959,1,POINT (127.07307 37.49154)
14,대청역,127.079518,37.493701,71483,1,POINT (127.07952 37.49370)
15,대치역,127.063190,37.494486,69102,1,POINT (127.06319 37.49449)
16,도곡역,127.055498,37.490976,63847,1,POINT (127.05550 37.49098)
17,동작역,126.980299,37.502971,31264,1,POINT (126.98030 37.50297)
18,매봉역,127.046698,37.486925,54285,1,POINT (127.04670 37.48693)
19,반포역,127.011582,37.508143,25732,1,POINT (127.01158 37.50814)
20,방배역,126.997535,37.481456,96834,1,POINT (126.99754 37.48146)
21,봉은사역,127.060220,37.514237,44079,1,POINT (127.06022 37.51424)
22,사당역,126.981550,37.476553,557818,1,POINT (126.98155 37.47655)
23,사평역,127.015268,37.504233,24983,1,POINT (127.01527 37.50423)
24,삼성역,127.063021,37.508812,108440,1,POINT (127.06302 37.50881)
25,삼성중앙역,127.053026,37.512961,25852,1,POINT (127.05303 37.51296)
26,서초역,127.007644,37.491836,54088,1,POINT (127.00764 37.49184)
27,선릉역,127.048948,37.504494,167223,1,POINT (127.04895 37.50449)
28,선정릉역,127.043614,37.510929,61644,1,POINT (127.04361 37.51093)
29,수서역,127.104452,37.485284,218981,1,POINT (127.10445 37.48528)
30,신논현역,127.025469,37.504808,185179,1,POINT (127.02547 37.50481)
31,신반포역,126.996064,37.503495,18702,1,POINT (126.99606 37.50349)
32,신사역,127.020293,37.516431,121824,1,POINT (127.02029 37.51643)
33,압구정로데오역,127.040591,37.527509,76280,1,POINT (127.04059 37.52751)
34,압구정역,127.028486,37.526485,110140,1,POINT (127.02849 37.52648)
35,양재역,127.034146,37.484569,174972,1,POINT (127.03415 37.48457)
36,언주역,127.033953,37.507328,33100,1,POINT (127.03395 37.50733)
37,역삼역,127.036460,37.500660,115069,1,POINT (127.03646 37.50066)
38,이수역,126.982203,37.486789,119428,1,POINT (126.98220 37.48679)
39,이태원역,126.994320,37.534507,70899,1,POINT (126.99432 37.53451)
40,일원역,127.084121,37.483985,52465,1,POINT (127.08412 37.48399)
41,잠원역,127.011401,37.512883,36699,1,POINT (127.01140 37.51288)
42,청담역,127.053709,37.519448,47940,1,POINT (127.05371 37.51945)
43,총신대입구역,126.982203,37.486789,169480,1,POINT (126.98220 37.48679)
44,학동역,127.031897,37.514357,44244,1,POINT (127.03190 37.51436)
45,학여울역,127.071153,37.496878,11235,1,POINT (127.07115 37.49688)
46,한티역,127.052901,37.496275,78969,1,POINT (127.05290 37.49627)

In [149]:
gid_list = []
for i in tqdm(range(data1.shape[0])):
    point = data1['point'].iloc[i]
    if data_gid['geometry'].contains(point).sum() == 0:
        g1 = "Na"
    else :
        g = data_gid['gid'].loc[data_gid['geometry'].contains(point)]
        g1 = g.iloc[0]
    gid_list.append(g1)

100%|████████████████████████████████████████████| 47/47 [00:05<00:00,  8.10it/s]

In [150]:
data1['gid'] = gid_list
data1['TL_cnt']=1
data1

,역이름,경도,위도,저녁총승객수,sub_cnt,point,gid,TL_cnt
0,강남구청역,127.041287,37.517201,90841,1,POINT (127.04129 37.51720),다사594465,1
1,강남역,127.027978,37.498085,349077,1,POINT (127.02798 37.49809),다사582444,1
2,개포동역,127.066103,37.489132,27095,1,POINT (127.06610 37.48913),다사616434,1
3,고속터미널역,127.005135,37.504540,381072,1,POINT (127.00513 37.50454),다사562451,1
4,교대역,127.013863,37.492736,177954,1,POINT (127.01386 37.49274),다사570438,1
5,구룡역,127.059475,37.487027,9685,1,POINT (127.05947 37.48703),다사610431,1
6,구반포역,126.987447,37.501422,18135,1,POINT (126.98745 37.50142),다사546448,1
7,국회의사당역,126.917821,37.528136,23188,1,POINT (126.91782 37.52814),Na,1
8,남부터미널역,127.016191,37.485185,129229,1,POINT (127.01619 37.48519),다사572429,1
9,남태령역,126.989081,37.464246,5266,1,POINT (126.98908 37.46425),다사548406,1
10,내방역,126.993578,37.487655,69086,1,POINT (126.99358 37.48765),다사552432,1
11,녹사평역,126.986536,37.534705,30858,1,POINT (126.98654 37.53470),Na,1
12,논현역,127.021649,37.511187,71103,1,POINT (127.02165 37.51119),다사577458,1
13,대모산입구역,127.073070,37.491543,19959,1,POINT (127.07307 37.49154),다사622436,1
14,대청역,127.079518,37.493701,71483,1,POINT (127.07952 37.49370),다사628439,1
15,대치역,127.063190,37.494486,69102,1,POINT (127.06319 37.49449),다사613440,1
16,도곡역,127.055498,37.490976,63847,1,POINT (127.05550 37.49098),다사607436,1
17,동작역,126.980299,37.502971,31264,1,POINT (126.98030 37.50297),다사540449,1
18,매봉역,127.046698,37.486925,54285,1,POINT (127.04670 37.48693),다사599431,1
19,반포역,127.011582,37.508143,25732,1,POINT (127.01158 37.50814),다사568455,1
20,방배역,126.997535,37.481456,96834,1,POINT (126.99754 37.48146),다사555425,1
21,봉은사역,127.060220,37.514237,44079,1,POINT (127.06022 37.51424),다사611461,1
22,사당역,126.981550,37.476553,557818,1,POINT (126.98155 37.47655),다사541420,1
23,사평역,127.015268,37.504233,24983,1,POINT (127.01527 37.50423),다사571451,1
24,삼성역,127.063021,37.508812,108440,1,POINT (127.06302 37.50881),다사613455,1
25,삼성중앙역,127.053026,37.512961,25852,1,POINT (127.05303 37.51296),다사604460,1
26,서초역,127.007644,37.491836,54088,1,POINT (127.00764 37.49184),다사564437,1
27,선릉역,127.048948,37.504494,167223,1,POINT (127.04895 37.50449),다사601451,1
28,선정릉역,127.043614,37.510929,61644,1,POINT (127.04361 37.51093),다사596458,1
29,수서역,127.104452,37.485284,218981,1,POINT (127.10445 37.48528),다사650429,1
30,신논현역,127.025469,37.504808,185179,1,POINT (127.02547 37.50481),다사580451,1
31,신반포역,126.996064,37.503495,18702,1,POINT (126.99606 37.50349),다사554450,1
32,신사역,127.020293,37.516431,121824,1,POINT (127.02029 37.51643),다사576464,1
33,압구정로데오역,127.040591,37.527509,76280,1,POINT (127.04059 37.52751),다사594476,1
34,압구정역,127.028486,37.526485,110140,1,POINT (127.02849 37.52648),다사583475,1
35,양재역,127.034146,37.484569,174972,1,POINT (127.03415 37.48457),다사588429,1
36,언주역,127.033953,37.507328,33100,1,POINT (127.03395 37.50733),다사588454,1
37,역삼역,127.036460,37.500660,115069,1,POINT (127.03646 37.50066),다사590447,1
38,이수역,126.982203,37.486789,119428,1,POINT (126.98220 37.48679),다사542431,1
39,이태원역,126.994320,37.534507,70899,1,POINT (126.99432 37.53451),Na,1
40,일원역,127.084121,37.483985,52465,1,POINT (127.08412 37.48399),다사632428,1
41,잠원역,127.011401,37.512883,36699,1,POINT (127.01140 37.51288),다사568460,1
42,청담역,127.053709,37.519448,47940,1,POINT (127.05371 37.51945),다사605467,1
43,총신대입구역,126.982203,37.486789,169480,1,POINT (126.98220 37.48679),다사542431,1
44,학동역,127.031897,37.514357,44244,1,POINT (127.03190 37.51436),다사586462,1
45,학여울역,127.071153,37.496878,11235,1,POINT (127.07115 37.49688),다사620442,1
46,한티역,127.052901,37.496275,78969,1,POINT (127.05290 37.49627),다사604442,1

In [151]:
data1 = data1[["gid","저녁총승객수"]]
data1

         gid  저녁총승객수
0   다사594465   90841
1   다사582444  349077
2   다사616434   27095
3   다사562451  381072
4   다사570438  177954
5   다사610431    9685
6   다사546448   18135
7         Na   23188
8   다사572429  129229
9   다사548406    5266
10  다사552432   69086
11        Na   30858
12  다사577458   71103
13  다사622436   19959
14  다사628439   71483
15  다사613440   69102
16  다사607436   63847
17  다사540449   31264
18  다사599431   54285
19  다사568455   25732
20  다사555425   96834
21  다사611461   44079
22  다사541420  557818
23  다사571451   24983
24  다사613455  108440
25  다사604460   25852
26  다사564437   54088
27  다사601451  167223
28  다사596458   61644
29  다사650429  218981
30  다사580451  185179
31  다사554450   18702
32  다사576464  121824
33  다사594476   76280
34  다사583475  110140
35  다사588429  174972
36  다사588454   33100
37  다사590447  115069
38  다사542431  119428
39        Na   70899
40  다사632428   52465
41  다사568460   36699
42  다사605467   47940
43  다사542431  169480
44  다사586462   44244
45  다사620442   11235
46  다사604442   78969

In [152]:
result1 = data1[['저녁총승객수', 'gid']].groupby(['gid']).sum()

In [153]:
result1

          저녁총승객수
gid
Na        124945
다사540449   31264
다사541420  557818
다사542431  288908
다사546448   18135
다사548406    5266
다사552432   69086
다사554450   18702
다사555425   96834
다사562451  381072
다사564437   54088
다사568455   25732
다사568460   36699
다사570438  177954
다사571451   24983
다사572429  129229
다사576464  121824
다사577458   71103
다사580451  185179
다사582444  349077
다사583475  110140
다사586462   44244
다사588429  174972
다사588454   33100
다사590447  115069
다사594465   90841
다사594476   76280
다사596458   61644
다사599431   54285
다사601451  167223
다사604442   78969
다사604460   25852
다사605467   47940
다사607436   63847
다사610431    9685
다사611461   44079
다사613440   69102
다사613455  108440
다사616434   27095
다사620442   11235
다사622436   19959
다사628439   71483
다사632428   52465
다사650429  218981

In [154]:
result1.reset_index(inplace=True)

In [155]:
result1 = result1.drop(index=0, axis=0)

In [156]:
result1

         gid  저녁총승객수
1   다사540449   31264
2   다사541420  557818
3   다사542431  288908
4   다사546448   18135
5   다사548406    5266
6   다사552432   69086
7   다사554450   18702
8   다사555425   96834
9   다사562451  381072
10  다사564437   54088
11  다사568455   25732
12  다사568460   36699
13  다사570438  177954
14  다사571451   24983
15  다사572429  129229
16  다사576464  121824
17  다사577458   71103
18  다사580451  185179
19  다사582444  349077
20  다사583475  110140
21  다사586462   44244
22  다사588429  174972
23  다사588454   33100
24  다사590447  115069
25  다사594465   90841
26  다사594476   76280
27  다사596458   61644
28  다사599431   54285
29  다사601451  167223
30  다사604442   78969
31  다사604460   25852
32  다사605467   47940
33  다사607436   63847
34  다사610431    9685
35  다사611461   44079
36  다사613440   69102
37  다사613455  108440
38  다사616434   27095
39  다사620442   11235
40  다사622436   19959
41  다사628439   71483
42  다사632428   52465
43  다사650429  218981

In [157]:
result1.to_csv("output/그리드 전처리 완료/서초강남지하철저녁하차.csv")